@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../../../slick/fonts/slick.eot');
    src: url('../../../slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../../slick/fonts/slick.woff') format('woff'), url('../../../slick/fonts/slick.ttf') format('truetype'), url('../../../slick/fonts/slick.svg#slick') format('svg');
}






.lookbook {
	display: grid;
	grid-template-columns: 80% 20%;
}
	.lookbook__main {

	}
		.lookbook__main-headline {
			font-family: "GothamProMedium";
			font-size: 30px;
			text-transform: uppercase;
			margin-left: 10px;
		}

		.lookbook__commponent {
			margin-bottom: 30px;
		}
			.lookbook__first-layer {
				width: 100%;
				display: grid;
				grid-template-columns: 70% 30%;
			}
				.lookbook__first-layer-img-block {
					
				}
					.lookbook__first-layer-img {
						width: 55.15vw;
						height: 30vw
					}

				.lookbook__first-layer-article-block {
					margin-left: 25px;
				}
				.lookbook__first-layer {

				}

			.lookbook__second-layer {
				width: 100%;
				display: grid;
				grid-template-columns: 20% calc(50% + 25px) calc(30% - 25px);
				position: relative;
			}
				.lookbook__sl-first-block {
					margin-right: 25px;
					text-align: right;
					margin-left: 25px;

				}
				.lookbook__sl-second-block {
					margin-right: 25px;
				}
						.lookbook__sl-second-block img {
							width: 39.5vw;
							height: 20vw;
						}

				.lookbook__sl-third-block {
					position: absolute;
					bottom: 0;
					right: 0;
					width: calc(30% - 25px);

				}
					.lookbook__sl-third-block img {
						width: 100%;
					}
					.lookbook__sl-third-block div {
						text-align: right;
					}
						.lookbook__article-type {
							font-family: "Arial";
							font-size: 11px;
							color:#777777;
							margin: 25px 0px 0px 0px;
							display: block;
							text-transform: uppercase;
						}
						.lookbook__article-name {
							font-family: "GothamPro";
							font-size: 18px;
							color:#b6814f;
							margin: 20px 0px 25px 0px;
							display: block;
							text-transform: uppercase;
						}
						.lookbook__article-text {
							font-size: 16px;
							font-family: "GothamProLight";
							color:#000;
							display: block;
							margin-bottom: 5px;
							line-height: 20px;
						}



			.lookbook__third-layer {
				width: 100%;
				position: relative;
				color:#fff;
				width: 80%;
				margin-left: auto;
			}
				.lookbook__third-layer .lookbook__third-layer-absolute {
					width: 100%;
					position: absolute;
					left: 0;
				}
				.lookbook__third-layer-type {
					z-index: 5;
				}
				.lookbook__third-layer-headline {
					z-index: 5;
				}


	.lookbook__right-bar {
		padding-left: 15px;
		padding-right: 10px;
	}
		.lookbook__bar-headline {
			font-family: "GothamProBold";
			font-size: 22px;
			color:#000;
			text-transform: uppercase;
		}
			.lookbook__article-types {
				font-family: "GothamPro";
				font-size: 16px;
				color:#999999;
			}
				.lookbook__article-types span {
					display: block;
					margin: 11px 0px;
				}

			.lookbook__instagram-block {
			
			}
				.lookbook__instagram-big-headline {

				}
				.lookbook__instagram-little-headline {
					font-family: "GothamProLight";
					font-size: 14px;
					color:#000;
					display: block;
					margin: 10px 0px;
				}
				.lookbook__instagram-photo-block {
					width: 100%;
					padding-top: 5px;
					background-color: #e9e9e9;
				}
					.lookbook__instagram-photo {
						display: block;
						width: 75%;
						margin: 0 auto;
					}

				.lookbook__instagram-activity {
					margin-top: 15px;
					margin-bottom: 30px;
				}
					.lookbook__instagram-activity-icon {
						display: inline-block;
						vertical-align: middle;
					}
					.lookbook__instagram-activity-number {
						font-family: "GothamProMedium";
						font-size: 14px;
						color:#888888;
						display: inline-block;
					}

				.lookbook__subscribe {
					height: 58px;
					width: 100%;
					background-color: transparent;
					color:#000;
					font-family: "GothamProLight";
					font-size: 16px;
					color:#000;
					border:1px solid black;
					cursor: pointer;
				}