@font-face {
	font-family: 'GothamPro';
	src: url("../../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../../assets/fonts/GothaProMed.otf");
}

.brandes {
	width: 70%;
	margin:0px auto;
}
	.brandes__headline {
		font-family: "GothamProMedium";
		font-size: 30px;
		color:#000;
	}
	.brandes__brand-block {
		
	}
		.brandes__brand-component {
			width: 30%;
			margin:10px;
			display: inline-flex;
			height: 140px;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
			.brandes__img-hover {
				display: none;
			}
			.brandes__brand-component:hover {
				background-color: #e5e5e5;
			}
			.brandes__brand-component:hover .brandes__img {
				display: none;
			}
			.brandes__brand-component:hover .brandes__img-hover {
				display: block;
			}
