@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}


.registration input[type="text"] {
	border: 1px solid #cccccc;
	height: 60px;
}


.registration {
	width: 75%;
	margin:0 auto;
}
	.registration__main-headline {
		font-family: "GothamProMedium";
		font-size: 30px;
		color:#000;
	}
	.registration__second-headline {
		font-family: "GothamPro";
		font-size: 18px;
		margin:15px 0px;
	}
	.registration__label {
		font-size: 15px;
		font-family: "GothamProLight";
		color:#000;
		display: block;
		margin:10px 0px;
	}
	.registration__big-field {
		width: 600px;

	}
	.registration__little-field {
		width: 292px;
	}





	.registration__card {

	}
		.registration__have-card {
			font-family: "GothamProLight";
			font-size: 14px;
			color:#000;
			margin-right: 80px;
		}


	.registration__comment {
		font-family: "Arial";
		font-size: 13px;
		color:#999999;
	}
		.registration__comment:not(:nth-of-type(1)) {
			vertical-align: top;
		}

	.registration__personal-data_block {

	}
		.registration__email {
			width: 302px;
			display: inline-block;
		}
		.registration__number {
			width: 302px;
			display: inline-block;
		}

	.registration__address_block {

	}

		.registration__region {
			display: inline-block;
			
		}
			.registration__region-input {
				display: inline-block;
			}
			.registration__region-comment {
				display: inline-block;
				width: 250px;
				line-height: 18px;
			}

		.registration__city-index {

		}

			.registration__city {
				width: 302px;
				display: inline-block;
			}
			.registration__index {
				width: 302px;
				display: inline-block;
			}

	.registration__password_block {

	}
		.registration__password-input {
			display: inline-block;
		}
		.registration__password-comment {
			display: inline-block;
			width: 300px;
			line-height:18px;
		}

	.registration__submit_block {
		margin-bottom: 45px;
	}
		.registration__submit-button {
			width: 600px;
			height: 60px;
			background-color: #000;
			color:#fff;
			font-size: 16px;
			font-family: "GothamProLight";
			border: none;
			cursor: pointer;
		}

		.registration__registration-confirm {
			margin-top: 25px;
			display: block;
		}
			.registration__submit-checkbox {
				display: inline-block;
				vertical-align: top;
			}
			.registration__submit-text {
				display: inline-block;
				font-size: 14px;
				font-family: "GothamProLight";
				width: 500px;
			}