@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}





.main {
	display: grid;
	grid-template-columns: 23% 77%;
	padding: 10px 0px 0px 10px;
}
	.menu {
		font-family: "GothamPro";
	}
		.menu ul {
			padding: 0;
		}
		.menu li {
			list-style-type: none;
		}
		.menu__headline {
			font-size: 18px;
		}
		.menu__list {
			padding: 0;
			margin-left: 35px;
		}
			.menu__list li {
				
			}

		.menu__all {
			font-family: "GothamProLight";
			display: block;
			font-size: 14px;
			
			text-transform: lowercase;
			margin:-10px 0px 0px 33px;

		}
			.menu__all span {
				border-bottom: 1px dotted black;
				cursor: pointer;
<<<<<<< HEAD
			}
			.menu__all .menu__choosen-category {
				background-color: #b6814f;
				color:#fff;
=======
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a
			}

		.menu__list-item {
			font-size: 14px;
			
			margin: 5px 0px;
		}
			.menu__list-item span {
				display: inline-block;
				margin: 0px 0px 0px 15px;
				padding: 5px 15px;
				cursor: pointer;
			}
			.menu__other-categories {
				font-size: 14px;
				font-family: "GothamProLight";
				border-bottom: 1px solid #d3d3d3;
				cursor: pointer;
			}

		.menu__open-button {
			display: inline-block;
			text-align: center;
			width: 27px;
			height: 27px;
			border-radius: 55%;
			border: 1px solid black;
			cursor: pointer;
			font-size: 26px;
			font-family: "GothamPro";
		}
			.menu__open-button span {
				display: block;
				margin-top: -2px;
			}
		.menu__headline-element {
			margin-top:10px;
		}
		.menu__season {

		}
			.menu__headline_season {

			}

			.menu__list_season {

			}
				.menu__list-item_season {
					
				}
					.menu__list-item_season label {
						border-bottom: 1px solid #000;
						cursor: pointer;
					}
					.menu__list-item_season input {
						cursor: pointer;
					}


		.menu__brandes {

		}
			.menu__headline_brandes {

			}
			.menu__list_brandes {

			}
			.menu__all-brandes {

			}
				.menu__all-brandes-search-block {

				}
					.menu__all-brandes-input {
						margin: 20px 0px;
						border:1px solid #cecece;
						width: calc(100% - 18px);
						height: 44px;
						padding: 0px 0px 0px 18px;
						font-size: 16px;
						font-family: "GothamPro";
					}
					.menu__all-brandes-list {
						height: 160px;
						overflow-y: scroll;
					}
						.menu__all-brandes-list-item {
							text-transform: none;
						}
							.menu__all-brandes-list-item span {
								border: none;
							}




		.menu__size {

		}
			.menu__headline_size {

			}
			.menu__list_size {
				columns: 2;
			}
				.menu__list_size li {
					margin-left:-20px;
					margin-right: -50px;
					width: 60px;
				}
					.menu__list_item_size_absent {
						color:#cccccc;
					}
						.menu__list_item_size_absent input[type="checkbox"] {
							opacity: .5;
							disabled: true;
						}



			.menu__new-only {
				margin:30px 0px 0px 14px;

			}

		.menu__cost-filter {
			
		}
			.slider-range {
				background-color: #000000;
				height: 3px;
				margin-top:10px;
				width: 150px;
			}
				.ui-slider-handle {
					width: 15px !important;
					height: 15px !important;
					border-radius: 55% !important;
					border: 1px solid #000;
					margin-top:-2px !important;
					outline: none;
					cursor: grab !important
				}
					.ui-slider-handle:active {
						cursor: grabbing !important;
					}


				.ui-slider-range {
					background-color: #b6814f !important;
				}

			.catalog__first-sum {
				width: 65px;
				border: 1px solid black;
				display: inline-block;
				margin:15px 0px 45px 0px;
			}
			.catalog__second-sum {
				width: 65px;
				border: 1px solid black;
				display: inline-block;
				margin:15px 0px 45px 0px;
			}

		.menu__show {
			width: 70%;
			text-align: center;
		}
			.menu__show span {
				font-size: 14px;
				font-family: "GothamProLight";
				display: inline-block;
				margin-bottom:10px;
			}
			.menu__show button {
				width: 100%;
				height: 50px;
				font-size: 18px;
				font-family: "GothamPro";
				background-color: #000;
				color:#fff;
				border: none;
				cursor: pointer;
			}

	.menu__instagram {

	}
		.menu__instagram-headline {
			font-family: "GothamProBold";
			font-size: 22px;
			color:#000;
			margin-bottom: 20px;
		}
		.menu__instagram-address {
			font-size: 14px;
			font-family: "GothamProLight";
			margin-bottom:20px;
		}
		.menu__instagram-img-container {
			width: 22.4vw;
			height: 22.4vw;
			background-color: #e9e9e9;
			
		}
			.menu__instagram-img-container img {
				width: 65%;
				height: auto;
			}

	.catalog {
		padding-left: 20px;
	}
		.catalog__headline {
			font-family: "GothamProMedium";
			font-size: 30px;
			color:#000;
		}
		.catalog__filter {

		}
			.catalog__word {
				font-size: 16px;
				font-family: "GothamPro";
				color: #777777;
			}
			.catalog__option {
				color:#000000;
				font-family: "GothamProLight";
				font-size: 14px;
				border-bottom: 1px dotted black;
				cursor: pointer;
			}

		.catalog__block {
			display: inline-block;
			width: 30%;
			position: relative;
			cursor: pointer;
			margin:10px;
			border: 0px solid black;
			border-radius: 5px 5px 0px 0px;
		}
			.catalog__block:hover {
				box-shadow: 0px -8px 22px -7px #8080ff;
				transition: box-shadow .15s;
			}
			.catalog__image-block {
				position: relative;
			}
				.catalog__image {
					width: 100%;
				}
				.catalog__action {
					background-color: #000;
					color:#fff;
					font-family: "Arial";
					font-size: 13px;
					padding: 5px;
					position: absolute;
					right: 20px;
					top:20px;
				}
				.catalog__new {
					background-color: #000;
					color:#fff;
					font-family: "Arial";
					font-size: 13px;
					padding: 5px;
					position: absolute;
					right: 70px;
					top:20px;
				}

		.catalog__name {
			display: block;
			font-size: 16px;
			font-family: "GothamPro";
			color:#000;
			margin-top: 15px;
		}
		.catalog__cost {
			display: inline-block;
			padding: 3px;
			font-size: 15px;
			font-family: "GothamProLight";
			color:#000;
			margin-top: 15px;
		}
		.catalog__cost-action {
			display: inline-block;
			padding: 3px;
			font-size: 15px;
			font-family: "GothamProLight";
			background-color: #000;
			color:#fff;
			margin-top: 15px;
		}
		.catalog__hover-block {
			position: absolute;
			background-color: white;
			display: none;
			z-index: 10;
			width: 100%;
			opacity: 0;
		}
			.catalog__block:hover .catalog__hover-block {
				display: block;
				opacity: 1;
				box-shadow: 0px 16px 17px 0px #8080ff;
				transition: box-shadow .15s, opacity .15s;
			}

		.catalog__hover-block {
			font-size: 13px;
			font-family: "Arial";
			color:#777777;
		}
			.catalog__code {

			}
			.catalog__size-block {
				
			}
				.catalog__size {
					
				}
			.catalog__color {

			}
				.catalog__color-circle {
					display: inline-block;
					margin:0px 8px 0px 0px;
					width: 22px;
					height: 22px;
					border: 1px solid;
					border-radius: 55%;
				}

	.catalog__pagination-block {

	}
		.catalog__pages {
			display: block;
			text-align: center;
			font-family: "GothamPro";
			font-size: 12px;
			color:#aaaaaa;
			margin-bottom: 10px;
		}
		.catalog__pages-bar {
			width: 228px;
			height: 50px;
			margin:0 auto;
			display: flex;
			justify-content: space-between;
		}
			.catalog__pages-element {
				display: inline-block;
				color:#c19b77;
			}
				.catalog__pages-circle {
					height: 11px;
					width: 11px;
					border-radius:55%;
					border: 1px solid #c19b77;
					cursor: pointer;
				}
				.catalog__pages-central-circle {
					width: 11px;
					height: 11px;
					border-radius:55%;
					border: 1px solid #000;
					cursor: pointer;
					background-color: #000;
				}
				.catalog__number {
					font-size: 16px;
					font-family: "GothamPro";
				}
				.catalog__pages-points {
					display: block;
					cursor: pointer;
					margin-top:-18px;
					font-size: 30px;
				}
				.catalog__pages-central-circle {
					border: 1px solid black;
					background-color: #000;
				}
				.catalog__number-central {
					font-size: 16px;
					font-family: "GothamPro";
					color:#000;
				}
				.catalog__pages-circle:hover {
					background-color: #c19b77;
					transition: background-color .35s;
				}
					/*.catalog__pages-circle:hover body {
						background-color: #c19b77;
					}*/
					
	.catalog__hashtages {
		margin:15px 0;
	}
		.catalog__hashtag {
			display: inline-block;
			margin: 5px;
			font-family: "GothamPro";
			font-size: 13px;
			color:#aaaaaa;
			cursor: pointer;
		}
		.catalog__hashtag:hover {
			color:#c19b77;
		}


	.SEO {
		width: 70%;
		margin: 0 auto;
	}
		.SEO__block {
			
		}
			.SEO__big-headine {
				font-family: "GothamProBold";
				font-size: 22px;
				color:#444444;
			}
			.SEO__small-headline {
				font-family: "GothamProMedium";
				font-size: 20px;
				color:#444444;
				margin-bottom: 15px;
			}
			.SEO__paragraph {
				font-family: "GothamProLight";
				font-size: 15px;
				color:#444444;
				margin:22px 0px;
			}
			.SEO__list {
				list-style-type: none;
				font-family: "GothamProLight";
				font-size: 15px;
				color:#444444;
			}


.menu__blocked_category {
	color:#ccc;
	opacity: 0.75;
}
.menu__unblocked_category {
	
}
	.menu__unblocked_category span {
		text-decoration: underline;
	}