<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="./design/assets/images/640_logo_icon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="./node_modules/jquery/jquery-ui.min.css">

	<meta charset="UTF-8">
	<title>Albana layout</title>
	
	<link rel="stylesheet" type="text/css" href="./design/css/header/first_layer/main.css">
	<link rel="stylesheet" type="text/css" href="./design/css/header/first_layer/hovers.css">
	<link rel="stylesheet" type="text/css" href="./design/css/header/first_layer/adaptation.css">

	<link rel="stylesheet" type="text/css" href="./design/css/footer/main.css">
	<link rel="stylesheet" type="text/css" href="./design/css/footer/adaptation.css">

	<link rel="stylesheet" type="text/css" href="./design/css/how_to_buy/main.css">

	<link rel="stylesheet" type="text/css" href="./design/css/index/main.css">
	<link rel="stylesheet" type="text/css" href="./design/css/index/adaptation.css">

	
	
</head>
<body>
<div style="width: 100%;height: 245px;"></div>
	<header class="header">
		<!-- <div class="header__wrapper"> -->
			<div class="header__first-hat-layer">

				<div class="header__main-menu-button">

					<div class="header__burger">
						<div class="header__burger-item"></div>
						<div class="header__burger-item"></div>
						<div class="header__burger-item"></div>
					</div>

					<div class="header__dotted-burger">
						<div class="header__dotted-burger-first-strip">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="header__dotted-burger-second-strip">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="header__dotted-burger-third-strip">
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>

				</div>

				<div class="header__number-element">

					<span class="header__pop-up-inscription">По России бесплатно</span>
					<span class="header__number">8 800 200 10 11</span>

				</div>

				<div class="header__city-element" @click="">
					<span class="header__choose-city">Выбери город</span>
					<span class="header__city">Ростов-на-Дону</span>
					<img src="./design/assets/images/arrow.png" class="header__city-arrow">
					
					<span class="header__unknown-city">Город не установлен</span>
				</div>


				<div class="header__logo-element">
					<div class="header__logo-image">
					<a href=""><img src="./design/assets/images/logo_icon.png" class="header__full-logo">
					<img src="./design/assets/images/640_logo_icon.png" class="header__short-logo"></a>
					</div>
					<div class="header__under-logo-city-wrapper">
						<span class="header__under-logo-choose-city">Выберите город</span>
						<span class="header__under-logo-city">Ростов-на-Дону</span>
						<img src="./design/assets/images/arrow.png" class="header__city-arrow">
					</div>

				</div>


				<div class="header__account-element">
					<img src="./design/assets/images/account_img.png" class="header__account-image">
					<span class="header__account">Твой кабинет</span>
					<img src="./design/assets/images/arrow.png" class="header__account-arrow">

				</div>


				<div class="header__heart-element">

					<img src="./design/assets/images/heart.png" class="header__heart-image">

				</div>

				
				<div class="header__cart-element" :class="conditionClass" @click="conditionClass='header__cart-element-opened'">
					<div class="header__cart-wrapper">
						<span class="header__order-number">{{ orders_q }}</span>
						<img src="./design/assets/images/cart.png" class="header__cart-image">
						<span class="header__cart-word">КОРЗИНА</span>
						<img src="./design/assets/images/close_icon_white.png" class="header__cart-close-icon" @click.stop="conditionClass='header__cart-element-closed'">
					</div>
				</div>

			</div>

			<div class="header__320-version-layer">
				<div class="header__320-version-number">
					<div class="header__number-element">
					<span class="header__pop-up-inscription">По России бесплатно</span>
					<span class="header__number">8 800 200 10 11</span>

				</div>
				</div>

				<div class="header__320-version-city">
					<div class="header__under-logo-city-wrapper">
						<span class="header__your-city">Твой город</span>
						<span class="header__under-logo-city">Ростов-на-Дону</span>
						<img src="./design/assets/images/arrow.png" class="header__city-arrow">
					</div>
				</div>
			</div>

			<div class="header__category-tabs">
				<div class="header__gender-category-tabs">
					<div class="header__female">Женщинам</div>
					<div class="header__male">Мужчинам</div>
					<div class="header__kids">Детям</div>
				</div>
				<div class="header__product-tabs">
					<div class="header__product-tabs-wrapper">
						<div class="header__shoes" :class="shoe_submenu.conditionClass" @mouseenter="shoe_submenu.conditionClass='header__shoe-submenu-opened'"  @mouseleave="shoe_submenu.conditionClass='header__shoe-submenu-closed'">
							<span class="header__shoe">Обувь</span>

							<div class="header__shoe-submenu" v-if="">
								<div class="shoe-submenu__wrapper">
									<div class="shoe-submenu__kategory-column">
										<div v-for="item in shoe_submenu.kategory"  class="shoe-submenu__element-wrapper">
											<span class="shoe-submenu__element">{{ item.word }}</span>
										</div>
											<div class="shoe-submenu__new">
												<span>новинки</span>
											</div>
									</div>

									<div class="shoe-submenu__first-column">
										<div v-for="item in shoe_submenu.first_column" class="shoe-submenu__first-column-element-wrapper">
											<span class="shoe-submenu__first-column-element">{{ item.word }}</span>
										</div>
									</div>

									<div class="shoe-submenu__second_column">
										<div class="shoe-submenu__second-column-element-wrapper" v-for="item in shoe_submenu.second_column">
											<span class="shoe-submenu__second-column-element">{{ item.word }}</span>
										</div>
									</div>

									<div class="shoe-submenu__third-column">
										<div class="shoe-submenu__third-column-element-wrapper"  v-for="item in shoe_submenu.third_column">
											<span class="shoe-submenu__third-column-element">{{ item.word }}</span>
										</div>
									</div>

									<div class="shoe-submenu__brandes-column">
										<h4 class="shoe-submenu__headline">Бренды</h4>
										<div class="shoe-submenu__elements-wrapper">
											<ol class="shoe-submenu__list">
												<li v-for="item in shoe_submenu.brandes" class="shoe-submenu__list-element">{{ item.word }}</li>
											</ol>
										</div>
										<div class="shoe-submenu__brandes-button">
											<span>Все бренды</span>
											<img src="./design/assets/images/white_arrow.png" class="shoe-submenu__brandes-arrow">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="header__bugs-element" 
						:class="bugs_submenu.conditionClass"
						@mouseenter="bugs_submenu.conditionClass='header__bugs-submenu-opened'"
						@mouseleave="bugs_submenu.conditionClass='header__bugs-submenu-closed'">
							<span class="header__bugs">Сумки</span>
							<div class="header__bugs-submenu">
								<span>Сумки</span>
							</div>
						</div>
						<div class="header__accessories-element"
						:class="accessories_submenu.conditionClass"
						@mouseenter="accessories_submenu.conditionClass='header__accessories-submenu-opened'"
						@mouseleave="accessories_submenu.conditionClass='header__accessories-submenu-closed'">
							<span class="header__accessories">Аксессуары</span>
							<div class="header__accessories-submenu">
								<span>Аксессуары</span>
							</div>
						</div>
					</div>
				</div>
				
			<!-- </div> -->
		</div>
		
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->



		
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


<div class="search-submenu">
	<div class="search-submenu__search">
				<img src="./design/assets/images/lupa.png" class="search-submenu__magnifier-image">
				<input type="text" name="" class="search-submenu__search-input" placeholder="Поиск" v-model="message" value="message">
			</div>

	<div class="search-submenu__main-part" v-show="autocomplete.isExist">

		<div class="search-submenu__row search-submenu__kategories" v-show="autocomplete.kategories.isExist">
			<span>Категории</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.kategories.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>

		<div class="search-submenu__row search-submenu__brandes" v-show="autocomplete.brandes.isExist">
			<span>Бренды</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.brandes.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>



		<div class="search-submenu__row search-submenu__articles" v-show="autocomplete.articles.isExist">
			<span>Статьи</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.articles.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>

		<div class="search-submenu__row search-submenu__product" v-for="item in autocomplete.products.data" v-show="autocomplete.products.isExist">
			<ul>
				<li class="search-submenu__product-element">
					<div class="search-submenu__product-image-element">
						<img :src="item.url" class="search-submenu__product-image">
					</div>
					<div class="search-submenu__product-inf">
							<span class="search-submenu__product-name">{{ item.header }}</span>
							<span class="search-submenu__product-price">{{ item.price + " Р" }}</span>

					</div>
				</li>
			</ul>
			
		</div>
	</div>

	<div class="search-submenu__all-results-bar" v-if="autocomplete.isExist">Все результаты поиска</div>
</div>

		
	</div>






<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
	</header>

<div class="main-menu">
		<img src="./design/assets/images/close_icon_white.png" class="main-menu__close-icon close-icon">
		<div  class="main-menu__content-wrapper">
			<div class="main-menu__first-column">
				<span class="main-menu__first-column-item">Главная</span>
				<span class="main-menu__first-column-item"><a href="./pages/lookbook/index.html">Блог</a></span>
				<span class="main-menu__first-column-item">Оплата и доставка</span>
				<span class="main-menu__first-column-item">Возврат</span>
				<span class="main-menu__first-column-item">Как купить</span>
				<div class="main-menu__first-column-item main-menu__enter-your-cabinet">
					<span>Войди в свой кабинет</span>
					<span>или</span>
					<span>Зарегистрируйся</span>
				</div>
			</div>
			<div class="main-menu__second-column">
				<div class="main-menu__column-logo-wrapper">
					<img src="./design/assets/images/640_logo_icon.png">
				</div>
			</div>
			<div class="main-menu__third-column">
				<span>Обувь</span>
				<span>Сумки</span>
				<span>Аксессуары</span>
				<div class="main-menu__search-element search-element">
					<img src="./design/assets/images/white_lupa.png" class="main-menu__magnifier">
					<input type="text" name="" placeholder="Поиск" class="main-menu__search">
				</div>
			</div>
		</div>
	</div>

	<div class="city-menu">
		<img src="./design/assets/images/close_icon_black.png" class="city-menu__close-icon close-icon">
		<div class="city-menu__content-wrapper">
			<div class="city-menu__main-cities">
				<span v-for="item in main_cities">{{ item }}</span>
			</div>
			<div class="city-menu__logo-element">
				<div class="city-menu__logo-wrapper">
					<img src="./design/assets/images/640_logo_icon.png" class="city-menu__logo-img">
				</div>
			</div>
			<div class="city-menu__search-element">
				<div class="city-menu__search-wrapper search-element">
					<img src="./design/assets/images/lupa.png" class="city-menu__magnifier">
					<input type="text" name="" placeholder="Поиск города" class="city-menu__search">
				</div>
			</div>
			<div class="city-menu__cities-list">
				<ol>
					<li v-for="item in cities">
						{{item}}
					</li>
				</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="account-menu">
		<img src="./design/assets/images/close_icon_black.png" class="account-menu__close-icon close-icon">

		<div class="account-menu__icon">
			<img src="./design/assets/images/640_logo_icon.png">
		</div>
		<div class="account-menu__text">
			<span class="account-menu_first-indent">
				Тебя давно не было и сайт успел соскучиться :(
			</span>
			<span class="account-menu_second-indent">
				Представься, введя email b пароль. А если не помнишь, то <span class="account-menu__recover">жми здесь</span>
			</span>
		</div>
		<div class="account-menu__form-element">
			<form class="account-menu__form">

				<div class="account-menu__email-wrapper">
					<input type="text" name="" placeholder="E-mail" class="account-menu__email">
				</div>
				<div class="account-menu__password-wrapper">
				<input type="text" name="" placeholder="Пароль" class="account-menu__password">
				</div>
			<button type="submit" class="account-menu__button">Войти</button>
			<label><input type="checkbox" name="" class="account-menu__checkbox"> Не запоминай меня на этом компьютере</label>
			</form>
		</div>
	</div>


	<div class="cart-menu">
		<div class="product-block" v-for="item in cart_elements">
			<div>
				<div class="product-block__image-element">
					<img :src="item.img_src">
				</div>
			</div>
			<div class="product-block__description-element">
				<span class="product-block__name">{{ item.product_name }}</span>
				<span class="product-block__color">{{ item.product_color }}</span>
				<span class="product-block__size" v-if="">{{ item.product_size }}</span>
			</div>
			<div class="product-block__price-element">
				<span class="product-block__price">{{ item.product_price + " Р" }}</span>
				<img src="./design/assets/images/little_close_icon.png" class="product-block__price-element-cross">
			</div>
			<div class="product-block__quantity-element">
				<input class="product-block__quantity-input" type="number" placeholder="" min="0" v-model="item.quantity" @change="recount">
				<span class="product-block__equal-sign">=</span>
			</div>
			<div class="product-block__final-price-element">
				<span class="product-block__final-price">{{ item.product_price * item.quantity + " Р" }}</span>
				<div class="product-block__close-icon-wrapper" >
					<img src="./design/assets/images/close_icon_black.png" class="product-block__close-icon">
				</div>
			</div>
		</div>
		

		<div class="final-bar">
			<div class="final-bar__result-element">
				<span class="final-bar__result">итого</span>
				<span class="final-bar__result-price">{{ control_bar.final_price + " Р"}}</span>
			</div>
			<div class="final-bar__make-a-order-element">
				<button class="final-bar__make-a-order-button">Оформить заказ</button>
			</div>
			<div class="final-bar__keep-buing-element">
				<button class="final-bar__keep-buing-button">Продолжить покупки</button>
			</div>
		</div>


	</div>

<!-- <div class="header__replace"></div> -->

<main>
	<div class="index">
		<div class="index__photos_full">
			<table class="index__full-table">
				<tr>
					<td rowspan="2" class="index__main-photo-cell"><img :src="main_photo"></td>
					<td class="index__little-photo-cell_full index__first-little-photo-cell"><img :src="first_little_photo"></td>
				</tr>
				<tr>
					
					<td class="index__little-photo-cell_full index__second-little-photo-cell"><img :src="second_little_photo"></td>
				</tr>
			</table>
		</div>

		<div class="index__photos_short" style="display: none;">
			<table>
				<tr>
					<td colspan="2"><!-- <img :src="main_photo"> -->4</td>
				</tr>
				<tr>
					<td></td>
					<td><!-- <img :src="second_little_photo"> -->6</td>
				</tr>
			</table>
		</div>

	<hr>
		
	 <h2 class="index__headline index__main-lifestyle-headline">Albana lifestyle</h2>

	<div class="index__lifestyle">
		<div v-for="item in lifestyle" class="index__lifestyle-element">
			<img :src="item.img" class="index__lifestyle-photo">
			<h5 class="index__lifestyle-headline">{{ item.headline }}</h5>
			<span class="index__lifestyle-description">{{ item.description }}</span>
		</div>
	</div>

		<hr>
		<h2 class="index__headline index__main-brandes-headline">Бренды</h2>

		<div class="index__brandes">
			<div v-for="item in brandes"><img :src="item"></div>
		</div>

		<hr>
		<h2 class="index__headline index__main-instagram-headline">Instagram</h2>

		<div class="index__instagram">
			<div class="index__first-instagram-block">
				<h6 class="index__instagram-headline">@albana_gold</h6>
				<div v-for="item in instagram_fc" class="index__image-block" @mouseenter="item.hoverClass='index__image-block_opened'" @mouseleave="item.hoverClass='index__image-block_closed'" :class="item.hoverClass">
					<div class="index__wrapper">
						<img :src="item.url" class="index__instagram-image">
						<div class="index__activity-bar">
							<img src="./design/assets/images/little_heart.png">
							{{item.likes}}
							<img src="./design/assets/images/comment.png">
							{{item.comments}}
						</div>
					</div>
				</div>
			</div>
				<div class="index__first-instagram-block">
					<h6 class="index__instagram-headline">@albana_shop</h6>
					<div v-for="item in instagram_sc" class="index__image-block" @mouseenter="item.hoverClass='index__image-block_opened'" @mouseleave="item.hoverClass='index__image-block_closed'" :class="item.hoverClass">
						<div class="index__wrapper">
							<img :src="item.url" class="index__instagram-image">
							<div class="index__activity-bar">
								<img src="./design/assets/images/little_heart.png">
								{{item.likes}}
								<img src="./design/assets/images/comment.png">
								{{item.comments}}
							</div>
						</div>
					</div>
				</div>
		</div> 

	</div>

	

</main>

<footer>
	<div class="first-footer">
		<div class="first-footer__externall-wrapper">
			<div class="first-footer__wrapper-full">
				<div class="first-footer__first-column">
					<img src="./design/assets/images/card_photo.png" class="first-footer__card-image">
				</div>
				<div class="first-footer__second-column">
					<div class="first-footer__header">
						<div class="first-footer__logo-wrapper">
							<img src="./design/assets/images/640_logo_icon.png" class="first-footer__logo">
						</div>
					<span class="first-footer__headline">Клуб привелегий albana</span>

					</div>

					<div class="first-footer__blocks">

						<div class="first-footer__first-block">
							<span class="first-footer__first-text">Накопительная дисконтная карта до -12% от суммы</span>
							<button class="first-footer__first-button">Подробности</button>
						</div>

						<div class="first-footer__second-block">
							<span class="first-footer__second-text">Подписавшись на скидки и получи максимум привелегий</span>
							<button class="first-footer__second-button">Подписаться</button>
						</div>
					</div>
				</div>
				<div class="first-footer__third-column">
					<img src="./design/assets/images/phone_photo.png" class="first-footer__phone-image">
				</div>
			</div>
		</div>
		

		<div class="first-footer__externall-wrapper_short">
			<h4 class="first-footer__headline">клуб привилегий albana</h4>
			<div class="first-footer__wrapper_short">
				<div class="first-footer__card-element">
					<img src="./design/assets/images/card_photo.png">
				</div>
				<div class="first-footer__first-block-element">
					<span class="first-footer__first-text_short">Накопительная дисконтная карта до -12% от суммы</span>
					<button class="first-footer__first-button_short">Подробности</button>
				</div>
				<div class="first-footer__second-block-element">
					<span class="first-footer__second-text_short">Подписавшись на скидки и получи максимум привелегий</span>
					<button class="first-footer__second-button_short">Подписаться</button>
				</div>
				<div class="first-footer__phone-element">
					<img src="./design/assets/images/phone_photo.png">
				</div>
			</div>
		</div>

	</div>

	<div class="last-footer">
		<div class="last-footer__links-layer">
			<ul class="last-footer__links">
				<li>
					<a href="">О магазине</a>
					<a href="./pages/contact/index.html">Контакты</a>
				</li>
				<li>
					<a href="">Оплата и доставка</a>
					<a href="">Возврат</a>
				</li>
				<li>
					<a href="">Твой кабинет</a>
					<a href="./pages/how_to_buy/index.html">Как купить</a>
				</li>
				<li>
					<a href="./pages/lookbook/index.html">Наш блог</a>
					<a href="">Правила сайта</a>
				</li>
			</ul>
		</div>

		<span class="last-footer__pay-ways-headline">способы оплаты</span>

		<div class="last-footer__pay-ways">
			<a href="" class="last-footer__">
				<img src="./design/assets/images/sberbank_footer.png">
			</a>
			<a href="" class="last-footer__" style="margin:0px 0px 0px 30px;">
				<img src="./design/assets/images/visa_footer.png">
			</a>
			<a href="" class="last-footer__">
				<img src="./design/assets/images/mastercard_footer.png">
			</a>
		</div>


		<div class="last-footer__bottom-layer">
			<span class="last-footer__1">© 2016-2017 «Альбана», все права защищены</span>
			<a href="" class="last-footer__2">info@albanashop.ru</a>
			<span class="last-footer__3">Разработка сайта: «Есть идея!»</span>
		</div>
	</div>





</footer>





<!-- ------------------SCRIPTS BELOW---------------- -->

	<script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="./node_modules/dynamics.js/lib/dynamics.js"></script>
	<script type="text/javascript" src="./design/js/jquery.color.js"></script>
	<script type="text/javascript" src="./node_modules/jquery/jquery-ui.js"></script>
	

	<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>

	<script type="text/javascript" src="./design/js/header/vue_search_component.js"></script>
	<script type="text/javascript" src="./design/js/header/vue_cart_component.js"></script>
	<script type="text/javascript" src="./design/js/header/vue_submenu_component.js"></script>
	<script type="text/javascript" src="./design/js/header/vue_city_component.js"></script>

	<script type="text/javascript" src="./design/js/header/main.js"></script>


	<script type="text/javascript" src="./design/js/index/vue_index.js"></script>

</body>
</html>