@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}

.contact {
	width: 85%;
	margin:0 auto;
	margin-bottom: 50px;
}
	.contact__main-headline {
		font-family: "GothamProMedium";
		font-size: 30px;
		color:#000;
		text-transform: uppercase;
	}
	.contact__wrapper {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows:550px 580px;
	}
		.contact__addresses {
			height: 100%;
		}
			.contact__address-block {
				height: 33%;
				cursor: pointer;
				border-top: 1px solid #eeeeee;
				border-bottom: 1px solid #eeeeee;
			}
				.contact__magazine-name {
					font-size: 20px;
					font-family: "GothamProMedium";
					color:#333333;
					text-transform: uppercase;
					margin: 25px 0px 15px 10px;
				}
					.contact__magazine-name span, .contact__magazine-name img {
						display: inline-block;
						vertical-align: top;
					}

				.contact__addresses-and-number {
					width: 190px;
					margin:0 auto;
				}
					.contact__address {
						display: block;
						font-family: "GothamProLight";
						font-size: 15px;
						color:#000;
						width: 190px;
						margin-bottom: 15px;
					}
					.contact__number {
						display: block;
						font-family: "GothamProLight";
						font-size: 15px;
						color:#000;
						width: 190px;
						margin-bottom: 15px;
					}
						.contact__number span {
							border-bottom: 1px dotted #aaaaaa;
						}
					.contact__look-at-the-map {
						display: block;
						width: 137px;
						font-size: 14px;
						font-family: "Arial";
						color:#777777;
						border-bottom: 1px dotted #aaaaaa;
						margin-bottom: 15px;
					}


		.contact__map-block {

		}
			.contact__map {
				height: 100%;
				width: 100%;
			}

		.contact__form-element {

		}
			.contact__form-element h4 {
				font-size: 22px;
				font-family: "GothamProBold";
				color:#333333;
			}
			.contact__form {

			}
				.contact__form label {
					font-size: 15px;
					font-family: "GothamProLight";
					color:#000;
					display: block;
					margin-bottom: 10px;
					margin-top:20px;
				}

				.contact__form-name {
					
				}
					.contact__form-name-input {
						border: 1px solid #cccccc;
						display: block;
						width: 95%;
						height: 58px;
						padding-left: 5px;
						font-size: 16px;
						font-family: "GothamPro";
					}

				.contact__form-number {

				}
					.contact__form-number-input {
						border: 1px solid #cccccc;
						display: block;
						width: 95%;
						height: 58px;
						padding-left: 5px;
						font-size: 16px;
						font-family: "GothamPro";
					}

				.contact__form-message {

				}
					.contact__form-message-input {
						border: 1px solid #cccccc;
						display: block;
						width: 95%;
						height: 135px;
						resize: none;
						font-size: 16px;
						font-family: "GothamPro";
					}

				.contact__form-approve {
					display: flex;
					align-items: baseline;
				}
					.contact__form-approve span {
						
					}
						.contact__form-approve-input {
							border-radius: 0px;
						}

					.contact__form-approve label {
						font-size: 14px;
						font-family: "GothamProLight";
					}
						.contact__form-approve label span {
							border-bottom: 1px solid black;
							cursor: pointer;
						}

				.contact__form-button {

				}
					.contact__form-button button {
						color:#fff;
						background-color: #000;
						font-size: 16px;
						font-family: "GothamProLight";
						height: 60px;
						width: 100%;
						border: none;
						cursor: pointer;
					}
		
		.contact__information {
			
		}
			.contact__requisites-headline {
				font-size: 20px;
				font-family: "GothamProMedium";
				color:#333333;
				margin-left: 15px;
				margin-bottom: 52px;
			}
			.contact__requisite-block {
				margin-top: 20px;
			}
				.contact__requisite-item {
					display: inline-block;
					width: 90px;
					font-size: 15px;
					font-family: "GothamProMedium";
					color:#000;
					margin-left: 15px;
				}
				.contact__requisite {
					font-size: 15px;
					font-family: "GothamProLight";
					color:#000;
				}