<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

	<link rel="shortcut icon" href="../../design/assets/images/640_logo_icon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../../node_modules/jquery/jquery-ui.min.css">

	<meta charset="UTF-8">
	<title>Albana layout</title>
	
	<link rel="stylesheet" type="text/css" href="../../design/css/header/first_layer/main.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/header/first_layer/hovers.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/header/first_layer/adaptation.css">

	<link rel="stylesheet" type="text/css" href="../../design/css/footer/main.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/footer/adaptation.css">

	<link rel="stylesheet" type="text/css" href="../../design/css/how_to_buy/main.css">

	<link rel="stylesheet" type="text/css" href="../../design/css/catalog/main.css">
	
	
</head>
<body>
<div style="width: 100%;height: 245px;"></div>
	<header class="header">
		<div class="header__first-hat-layer">

			<div class="header__main-menu-button">

				<div class="header__burger">
					<div class="header__burger-item"></div>
					<div class="header__burger-item"></div>
					<div class="header__burger-item"></div>
				</div>

				<div class="header__dotted-burger">
					<div class="header__dotted-burger-first-strip">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="header__dotted-burger-second-strip">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="header__dotted-burger-third-strip">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>

			</div>


			<div class="header__number-element">

				<span class="header__pop-up-inscription">По России бесплатно</span>
				<span class="header__number">8 800 200 10 11</span>

			</div>

			<div class="header__city-element" @click="">
				<span class="header__choose-city">Выбери город</span>
				<span class="header__city">Ростов-на-Дону</span>
				<img src="../../design/assets/images/arrow.png" class="header__city-arrow">
				
				<span class="header__unknown-city">Город не установлен</span>
			</div>


			<div class="header__logo-element">
				<div class="header__logo-image">
				<a href="../../index.html"><img src="../../design/assets/images/logo_icon.png" class="header__full-logo">
				<img src="../../design/assets/images/640_logo_icon.png" class="header__short-logo"></a>
				</div>
				<div class="header__under-logo-city-wrapper">
					<span class="header__under-logo-choose-city">Выберите город</span>
					<span class="header__under-logo-city">Ростов-на-Дону</span>
					<img src="../../design/assets/images/arrow.png" class="header__city-arrow">
				</div>
			</div>


			<div class="header__account-element">
				<img src="../../design/assets/images/account_img.png" class="header__account-image">
				<span class="header__account">Твой кабинет</span>
				<img src="../../design/assets/images/arrow.png" class="header__account-arrow">

			</div>


			<div class="header__heart-element">

				<img src="../../design/assets/images/heart.png" class="header__heart-image">

			</div>

			
			<div class="header__cart-element" :class="conditionClass" @click="conditionClass='header__cart-element-opened'">
				<div class="header__cart-wrapper">
					<span class="header__order-number">{{ orders_q }}</span>
					<img src="../../design/assets/images/cart.png" class="header__cart-image">
					<span class="header__cart-word">КОРЗИНА</span>
					<img src="../../design/assets/images/close_icon_white.png" class="header__cart-close-icon" @click.stop="conditionClass='header__cart-element-closed'">
				</div>
			</div>

		</div>

		<div class="header__320-version-layer">
			<div class="header__320-version-number">
				<div class="header__number-element">
				<span class="header__pop-up-inscription">По России бесплатно</span>
				<span class="header__number">8 800 200 10 11</span>

			</div>
			</div>

			<div class="header__320-version-city">
				<div class="header__under-logo-city-wrapper">
					<span class="header__your-city">Твой город</span>
					<span class="header__under-logo-city">Ростов-на-Дону</span>
					<img src="../../design/assets/images/arrow.png" class="header__city-arrow">
				</div>
			</div>
		</div>

		<div class="header__category-tabs">
			<div class="header__gender-category-tabs">
				<div class="header__female">Женщинам</div>
				<div class="header__male">Мужчинам</div>
				<div class="header__kids">Детям</div>
			</div>
			<div class="header__product-tabs">
				<div class="header__product-tabs-wrapper">
					<div class="header__shoes" :class="shoe_submenu.conditionClass" @mouseenter="shoe_submenu.conditionClass='header__shoe-submenu-opened'"  @mouseleave="shoe_submenu.conditionClass='header__shoe-submenu-closed'">
						<span class="header__shoe">Обувь</span>

						<div class="header__shoe-submenu" v-if="">
							<div class="shoe-submenu__wrapper">
								<div class="shoe-submenu__kategory-column">
									<div v-for="item in shoe_submenu.kategory"  class="shoe-submenu__element-wrapper">
										<span class="shoe-submenu__element">{{ item.word }}</span>
									</div>
										<div class="shoe-submenu__new">
											<span>новинки</span>
										</div>
								</div>

								<div class="shoe-submenu__first-column">
									<div v-for="item in shoe_submenu.first_column" class="shoe-submenu__first-column-element-wrapper">
										<span class="shoe-submenu__first-column-element">{{ item.word }}</span>
									</div>
								</div>

								<div class="shoe-submenu__second_column">
									<div class="shoe-submenu__second-column-element-wrapper" v-for="item in shoe_submenu.second_column">
										<span class="shoe-submenu__second-column-element">{{ item.word }}</span>
									</div>
								</div>

								<div class="shoe-submenu__third-column">
									<div class="shoe-submenu__third-column-element-wrapper"  v-for="item in shoe_submenu.third_column">
										<span class="shoe-submenu__third-column-element">{{ item.word }}</span>
									</div>
								</div>

								<div class="shoe-submenu__brandes-column">
									<h4 class="shoe-submenu__headline">Бренды</h4>
									<div class="shoe-submenu__elements-wrapper">
										<ol class="shoe-submenu__list">
											<li v-for="item in shoe_submenu.brandes" class="shoe-submenu__list-element">{{ item.word }}</li>
										</ol>
									</div>
									<div class="shoe-submenu__brandes-button">
										<span>Все бренды</span>
										<img src="../../design/assets/images/white_arrow.png" class="shoe-submenu__brandes-arrow">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="header__bugs-element" 
					:class="bugs_submenu.conditionClass"
					@mouseenter="bugs_submenu.conditionClass='header__bugs-submenu-opened'"
					@mouseleave="bugs_submenu.conditionClass='header__bugs-submenu-closed'">
						<span class="header__bugs">Сумки</span>
						<div class="header__bugs-submenu">
							<span>Сумки</span>
						</div>
					</div>
					<div class="header__accessories-element"
					:class="accessories_submenu.conditionClass"
					@mouseenter="accessories_submenu.conditionClass='header__accessories-submenu-opened'"
					@mouseleave="accessories_submenu.conditionClass='header__accessories-submenu-closed'">
						<span class="header__accessories">Аксессуары</span>
						<div class="header__accessories-submenu">
							<span>Аксессуары</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

<div class="main-menu">
		<img src="../../design/assets/images/close_icon_white.png" class="main-menu__close-icon close-icon">
		<div  class="main-menu__content-wrapper">
			<div class="main-menu__first-column">
				<span class="main-menu__first-column-item">Главная</span>
<<<<<<< HEAD
				<span class="main-menu__first-column-item"><a href="../lookbook/index.html">Блог</span></a>
=======
				<span class="main-menu__first-column-item"><a href="../lookbook/index.html">Блог</a></span>
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a
				<span class="main-menu__first-column-item">Оплата и доставка</span>
				<span class="main-menu__first-column-item">Возврат</span>
				<span class="main-menu__first-column-item">Как купить</span>
				<div class="main-menu__first-column-item main-menu__enter-your-cabinet">
					<span>Войди в свой кабинет</span>
					<span>или</span>
					<span>Зарегистрируйся</span>
				</div>
			</div>
			<div class="main-menu__second-column">
				<div class="main-menu__column-logo-wrapper">
					<img src="../../design/assets/images/640_logo_icon.png">
				</div>
			</div>
			<div class="main-menu__third-column">
				<span>Обувь</span>
				<span>Сумки</span>
				<span>Аксессуары</span>
				<div class="main-menu__search-element search-element">
					<img src="../../design/assets/images/white_lupa.png" class="main-menu__magnifier">
					<input type="text" name="" placeholder="Поиск" class="main-menu__search">
				</div>
			</div>
		</div>
	</div>

	<div class="city-menu">
		<img src="../../design/assets/images/close_icon_black.png" class="city-menu__close-icon close-icon">
		<div class="city-menu__content-wrapper">
			<div class="city-menu__main-cities">
				<span v-for="item in main_cities">{{ item }}</span>
			</div>
			<div class="city-menu__logo-element">
				<div class="city-menu__logo-wrapper">
					<img src="../../design/assets/images/640_logo_icon.png" class="city-menu__logo-img">
				</div>
			</div>
			<div class="city-menu__search-element">
				<div class="city-menu__search-wrapper search-element">
					<img src="../../design/assets/images/lupa.png" class="city-menu__magnifier">
					<input type="text" name="" placeholder="Поиск города" class="city-menu__search">
				</div>
			</div>
			<div class="city-menu__cities-list">
				<ol>
					<li v-for="item in cities">
						{{item}}
					</li>
				</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="account-menu">
		<img src="../../design/assets/images/close_icon_black.png" class="account-menu__close-icon close-icon">

		<div class="account-menu__icon">
			<img src="../../design/assets/images/640_logo_icon.png">
		</div>
		<div class="account-menu__text">
			<span class="account-menu_first-indent">
				Тебя давно не было и сайт успел соскучиться :(
			</span>
			<span class="account-menu_second-indent">
				Представься, введя email b пароль. А если не помнишь, то <span class="account-menu__recover">жми здесь</span>
			</span>
		</div>
		<div class="account-menu__form-element">
			<form class="account-menu__form">

				<div class="account-menu__email-wrapper">
					<input type="text" name="" placeholder="E-mail" class="account-menu__email">
				</div>
				<div class="account-menu__password-wrapper">
				<input type="text" name="" placeholder="Пароль" class="account-menu__password">
				</div>
			<button type="submit" class="account-menu__button">Войти</button>
			<label><input type="checkbox" name="" class="account-menu__checkbox"> Не запоминай меня на этом компьютере</label>
			</form>
		</div>
	</div>


	<div class="cart-menu">
		<div class="product-block" v-for="item in cart_elements">
			<div>
				<div class="product-block__image-element">
					<img :src="item.img_src">
				</div>
			</div>
			<div class="product-block__description-element">
				<span class="product-block__name">{{ item.product_name }}</span>
				<span class="product-block__color">{{ item.product_color }}</span>
				<span class="product-block__size" v-if="">{{ item.product_size }}</span>
			</div>
			<div class="product-block__price-element">
				<span class="product-block__price">{{ item.product_price + " Р" }}</span>
				<img src="../../design/assets/images/little_close_icon.png" class="product-block__price-element-cross">
			</div>
			<div class="product-block__quantity-element">
				<input class="product-block__quantity-input" type="number" placeholder="" min="0" v-model="item.quantity" @change="recount">
				<span class="product-block__equal-sign">=</span>
			</div>
			<div class="product-block__final-price-element">
				<span class="product-block__final-price">{{ item.product_price * item.quantity + " Р" }}</span>
				<div class="product-block__close-icon-wrapper" >
					<img src="../../design/assets/images/close_icon_black.png" class="product-block__close-icon">
				</div>
			</div>
		</div>
		

		<div class="final-bar">
			<div class="final-bar__result-element">
				<span class="final-bar__result">итого</span>
				<span class="final-bar__result-price">{{ control_bar.final_price + " Р"}}</span>
			</div>
			<div class="final-bar__make-a-order-element">
				<button class="final-bar__make-a-order-button">Оформить заказ</button>
			</div>
			<div class="final-bar__keep-buing-element">
				<button class="final-bar__keep-buing-button">Продолжить покупки</button>
			</div>
		</div>


	</div>



<div class="search-submenu">
	<div class="search-submenu__search">
				<img src="../../design/assets/images/lupa.png" class="search-submenu__magnifier-image">
				<input type="text" name="" class="search-submenu__search-input" placeholder="Поиск" v-model="message" value="message">
			</div>

	<div class="search-submenu__main-part" v-show="autocomplete.isExist">

		<div class="search-submenu__row search-submenu__kategories" v-show="autocomplete.kategories.isExist">
			<span>Категории</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.kategories.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>

		<div class="search-submenu__row search-submenu__brandes" v-show="autocomplete.brandes.isExist">
			<span>Бренды</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.brandes.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>



		<div class="search-submenu__row search-submenu__articles" v-show="autocomplete.articles.isExist">
			<span>Статьи</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.articles.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>

		<div class="search-submenu__row search-submenu__product" v-for="item in autocomplete.products.data" v-show="autocomplete.products.isExist">
			<ul>
				<li class="search-submenu__product-element">
					<div class="search-submenu__product-image-element">
						<img :src="item.url" class="search-submenu__product-image">
					</div>
					<div class="search-submenu__product-inf">
							<span class="search-submenu__product-name">{{ item.header }}</span>
							<span class="search-submenu__product-price">{{ item.price + " Р" }}</span>

					</div>
				</li>
			</ul>
			
		</div>
	</div>

	<div class="search-submenu__all-results-bar" v-if="autocomplete.isExist">Все результаты поиска</div>
</div>

		
	</div>






<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
	</header>



<main class="main">

	<div class="menu">
	<form method="GET">
		<div class="menu__season">

			<div class="menu__headline-element menu__headline_season">
				<span class="menu__open-button menu__open-button_season" @click="menu.season.isOpen  = !menu.season.isOpen">
					<span v-if="menu.season.isOpen">-</span>
					<span v-else>+</span>
				</span>
				<span class="menu__headline">Сезон</span>
			</div>
			<ul v-if="menu.season.isOpen" class="menu__list menu__list_season">
				<li v-for="item in menu.season.list" class="menu__list-item menu__list-item_season">
					<input type="checkbox" :name="item.name" :id="item.id" v-model="item.isActive">
					<label :for="item.id">{{ item.text }}</label>
				</li>
			</ul>
		</div>

		<div class="menu__category">
			<div class="menu__headline-element menu__headline_category">
				<span class="menu__open-button menu__open-button_category" @click="menu.category.isOpen  = !menu.category.isOpen">
					<span v-if="menu.category.isOpen">-</span>
					<span v-else>+</span>
				</span>
				<span class="menu__headline">Категория</span>
			</div>
			<ul class="menu__list menu__list_category" v-if="menu.category.isOpen">
				<li v-for="item in menu.category.list" class="menu__list-item menu__list-item_category" v-if="item.isChoosen" :class="[menu.season.list[item.seasonId].isActive ? 'menu__unblocked_category' : 'menu__blocked_category']">
					<span @click="choozeCategory" :data-id="item.id" :style="item.style">{{item.name}}</span>
				</li>
				<span v-if="menu.category.isChoosen" class="menu__other-categories" @click="showOtherCategory">другие категории</span>
			</ul>
		</div>

		<div class="menu__brandes">

			<div class="menu__headline-element menu__headline_brandes">
				<span class="menu__open-button menu__open-button_brandes" @click="menu.brandes.isOpen  = !menu.brandes.isOpen">
					<span v-if="menu.brandes.isOpen">-</span>
					<span v-else>+</span>
				</span>
				<span class="menu__headline">Бренд</span>
			</div>
			<ul class="menu__list menu__list_brandes" v-if="menu.brandes.isOpen && !menu.brandes.isOtherOpen" v-if="">
				<li v-for="n in 7" class="menu__list-item menu__list-item_brandes">
					{{menu.brandes.list[n].name}}
				</li>
			</ul>
			<div class="menu__all menu__all-brandes" v-if="menu.brandes.isOpen">

				<span class="menu__all-brandes-span" v-if="!menu.brandes.isOtherOpen" @click="openBrandesSearch">Все бренды</span>

				<div class="menu__all-brandes-search-block" v-if="menu.brandes.isOtherOpen">
					<input type="text" name="" class="menu__all-brandes-input" v-model="menu.brandes.autocomplete.message">
					<ul class="menu__all-brandes-list" >
						<li class="menu__all-brandes-list-item" v-for="item in filteredList">
							<input type="checkbox" name="item.name">
							<span>{{ item.name }}</span>
						</li>
					</ul>
				</div>
				
			</div>

		</div>

		<div class="menu__size">
			<div class="menu__headline-element menu__headline_size">
				<span class="menu__open-button menu__open-button_size" @click="menu.size.isOpen  = !menu.size.isOpen">
					<span v-if="menu.size.isOpen">-</span>
					<span v-else>+</span>
				</span>
				<span class="menu__headline">Размер</span>
			</div>
			<ul class="menu__list menu__list_size" v-if="menu.size.isOpen">
				<li v-for="item in menu.size.list" class="menu__list-item menu__list-item_size" :class="{ menu__list_item_size_absent : !item.presence }">
					<input type="checkbox" name="checkbox_size" :id="item.id" :disabled="!item.presence">
					<label :for="item.id">{{ item.size }}</label>
				</li>
			</ul>
			<span class="menu__all" v-if="menu.size.isOpen">все размеры</span>
		</div>


		<div class="menu__new-only">
			<input type="checkbox" name="checkbox_new">
			<label for="checkbox_new">Только новинки</label>
		</div>


		<div class="menu__color">
			<div class="menu__headline-element menu__headline_color">
				<span class="menu__open-button menu__open-button_color" @click="menu.colors.isOpen  = !menu.colors.isOpen">
					<span v-if="menu.colors.isOpen">-</span>
					<span v-else>+</span>
				</span>
				<span class="menu__headline">Цвет</span>
			</div>
			<ul class="menu__list menu__list_color" v-if="menu.colors.isOpen">
				<li v-for="item in menu.colors.list" class="menu__list-item menu__list-item_color" class="">
					<input type="checkbox" :name="item.name" :data-id="item.id">
					<label for="item.id">{{ item.color }}</label>
				</li>
			</ul>
		</div>

		<div class="menu__all menu__all-sizes" v-if="menu.colors.isOpen">
			<span>Все цвета</span>
		</div>

		<div class="menu__high-filter" v-show="menu.tematicItem.heel">
			<span class="menu__headline" style="margin:35px 0px 0px 35px; display: block;">Высота каблука</span>
			<div class="slider-high-range slider-range"></div>
			<div>
				<input type="text" name="" class="catalog__high-first-sum catalog__first-sum">
				<span> - </span>
				<input type="text" name="" class="catalog__high-second-sum catalog__second-sum">
			</div>
		</div>

		<div class="menu__cost-filter">
			<span class="menu__headline" style="margin:35px 0px 0px 35px; display: block;">Цена</span>
			<div class="slider-cost-range slider-range"></div>
			<div>
				<input type="text" name="" class="catalog__first-cost-sum catalog__first-sum">
				<span> - </span>
				<input type="text" name="" class="catalog__second-cost-sum catalog__second-sum">
			</div>
		</div>

		

		<div class="menu__show">
			<span>Найдено {{ menu.quantity }} товаров</span>
			<button type="submit">показать</button>
		</div>

		<div class="menu__instagram">
			<h5 class="menu__instagram-headline">instagram</h5>
			<span class="menu__instagram-address">@albana_shop</span>
			<div class="menu__instagram-img-container">
				<img :src="menu.instagram.url">
			</div>
			<div>
				<div class="menu__instagram-likes">
					<img src="">
					<span>{{ menu.instagram.likes }}</span>
				</div>
				<div class="menu__instagram-comments">
					<img src="">
					<span>{{ menu.instagram.comments }}</span>
				</div>

				<div class="menu__instagram-subscribe">
					<span>Подписаться</span>
				</div>
			</div>

		</div>

		</form>
	
	</div>

	<div class="catalog">
		<h2 class="catalog__headline">Итальянская женская обувь</h2>
		<div class="catalog__filter">
			<span class="catalog__word">Сначала</span>
			<span class="catalog__option catalog__popular" @click="filter">популярные</span>
			<span class="catalog__option catalog__new-filter" @click="filter">новые</span>
			<span class="catalog__option catalog__expensive" @click="filter">дорогие</span>
			<span class="catalog__option catalog__cheep" @click="filter">дешевые</span>
		</div>

		<div class="catalog__block" v-for="item in menu.catalog_blocks" @click="filter">
			<div class="catalog__image-block">
				<img :src="item.src" class="catalog__image">
				<span class="catalog__new" v-if="item.isNew">Новинка</span>
				<span class="catalog__action" v-if="item.isAction">Акция</span>
			</div>
			<span class="catalog__name">{{ item.name }}</span>
			<span class="catalog__cost-action" v-if="item.isNew">{{ item.actionCost + " Р" }}</span>
			<span class="catalog__cost" v-if="item.isNew" style="color:#777;text-decoration: line-through;">{{ item.cost + " Р" }}</span>
			<span class="catalog__cost" v-if="!item.isNew">{{ item.cost + " Р" }}</span>

			<div class="catalog__hover-block">
				<span class="catalog__code">Код: {{ item.code }}</span>
				<div class="catalog__size-block">
					<span v-for="item in item.size" class="catalog__size">{{ item + " " }}</span>
				</div>
				<div class="catalog__color">
					<span v-for="item in item.colors" :style="{backgroundColor: item.color, borderColor: item.border }" class="catalog__color-circle"></span>
				</div>
			</div>

		</div>

		<div class="catalog__pagination-block">
			<span class="catalog__pages">страницы</span>
			<div class="catalog__pages-bar">
				<div class="catalog__pages-element">
					<div class="catalog__pages-circle"></div>
					<span class="catalog__number">1</span>
				</div>
				<div class="catalog__pages-element">
					<span class="catalog__pages-points">...</span>
				</div>
				<div class="catalog__pages-element">
					<div class="catalog__pages-circle"></div>
					<span class="catalog__number">5</span>
				</div>
				<div class="catalog__pages-element">
					<div class="catalog__pages-circle"></div>
					<span class="catalog__number">6</span>
				</div>
				<div class="catalog__pages-element">
					<div class="catalog__pages-central-circle"></div>
					<span class="catalog__number-central">7</span>
				</div>
				<div class="catalog__pages-element">
					<div class="catalog__pages-circle"></div>
					<span class="catalog__number">8</span>
				</div>
				<div class="catalog__pages-element">
					<div class="catalog__pages-circle"></div>
					<span class="catalog__number">9</span>
				</div>
				<div class="catalog__pages-element">
					<span class="catalog__pages-points">...</span>
				</div>
				<div class="catalog__pages-element">
					<div class="catalog__pages-circle"></div>
					<span class="catalog__number">20</span>
				</div>
			</div>
		</div>


		<div class="catalog__hashtages">
			<span v-for="item in menu.hashtages" class="catalog__hashtag">#{{ item }} </span>
		</div>

	</div>

</main>

<footer>
	<div class="first-footer">
		<div class="first-footer__externall-wrapper">
			<div class="first-footer__wrapper-full">
				<div class="first-footer__first-column">
					<img src="../../design/assets/images/card_photo.png" class="first-footer__card-image">
				</div>
				<div class="first-footer__second-column">
					<div class="first-footer__header">
						<div class="first-footer__logo-wrapper">
							<img src="../../design/assets/images/640_logo_icon.png" class="first-footer__logo">
						</div>
					<span class="first-footer__headline">Клуб привелегий albana</span>

					</div>

					<div class="first-footer__blocks">

						<div class="first-footer__first-block">
							<span class="first-footer__first-text">Накопительная дисконтная карта до -12% от суммы</span>
							<button class="first-footer__first-button">Подробности</button>
						</div>

						<div class="first-footer__second-block">
							<span class="first-footer__second-text">Подписавшись на скидки и получи максимум привелегий</span>
							<button class="first-footer__second-button">Подписаться</button>
						</div>
					</div>
				</div>
				<div class="first-footer__third-column">
					<img src="../../design/assets/images/phone_photo.png" class="first-footer__phone-image">
				</div>
			</div>
		</div>
		

		<div class="first-footer__externall-wrapper_short">
			<h4 class="first-footer__headline">клуб привилегий albana</h4>
			<div class="first-footer__wrapper_short">
				<div class="first-footer__card-element">
					<img src="../../design/assets/images/card_photo.png">
				</div>
				<div class="first-footer__first-block-element">
					<span class="first-footer__first-text_short">Накопительная дисконтная карта до -12% от суммы</span>
					<button class="first-footer__first-button_short">Подробности</button>
				</div>
				<div class="first-footer__second-block-element">
					<span class="first-footer__second-text_short">Подписавшись на скидки и получи максимум привелегий</span>
					<button class="first-footer__second-button_short">Подписаться</button>
				</div>
				<div class="first-footer__phone-element">
					<img src="../../design/assets/images/phone_photo.png">
				</div>
			</div>
		</div>

	</div>

	
	<div class="SEO">
		<div class="SEO__block">
			<h4 class="SEO__big-headine">Итальянская обувь - интернет магазин альбана</h5>
			<p class="SEO__paragraph">
				Популярность в России современной женской итальянской обуви связана с превосходными дизайнерскими формами, надежными эксплуатационными характеристиками, удобством, комфортностью носки.
			</p>
			<p class="SEO__paragraph">
				Различные варианты женской обуви представлены в фирменном интернет-магазине компании. Каталог предложений насчитывает около 9 тысяч! элитных моделей для любого сезона.
			</p>
			<p class="SEO__paragraph">
				Магазины сети представляют популярные бренды итальянской обуви:
				<ul class="SEO__list">
					<li class="SEO__list-item">— Easy by Loriblu; Diovanni Fabiani; Nero Giardini; Loriblu;</li>
					<li class="SEO__list-item">— ASH; Nando Muzi; Palagio; Pas de Rouge; Ernesto Dolani;</li>
					<li class="SEO__list-item">— Zenux; Officine Creative; Vic Matie; Pakerson; Massimo Santini;</li>
					<li class="SEO__list-item">— Vic Mattie; Casadel и другие.</li>
				</ul>
			</p>
			<p class="SEO__paragraph">
				Модельный ряд обуви из Италии сезонных коллекций включает сезонные полноразмерные предложения:
				<ul class="SEO__list">
					<li class="SEO__list-item">— туфель; ботинок; полуботинок; ботильонов; ботфорт;</li>
					<li class="SEO__list-item">— сапожек; угг; слипонов, кед; кроссовок;</li>
					<li class="SEO__list-item">— мокасин; сабо; босоножек, сандалий; шлепанцев и пр.</li>
				</ul>
			</p>
			<p class="SEO__paragraph">
				Мы предлагаем не только купить итальянскую обувь по отличной цене, но и уникальный сервис по уходу за изделиями из кожи тонкой выделки, с применением натуральных французских препаратов линейки Saphir, помогающей сохранить:
				<ul class="SEO__list">
					<li class="SEO__list-item">— технологические свойства;</li>
					<li class="SEO__list-item">— яркость цветового покрытия.</li>
				</ul>
			</p>
			<p class="SEO__paragraph">
				Купить итальянскую женскую обувь можно в 70ти сетевых магазинах, расположенных в российских регионах. Магазины устраивают регулярные распродажи с дисконтом до 80%. Подробнее о действующих акциях можно узнать, позвонив в колл-центр по телефону, указанному на сайте. Опытные специалисты помогут определиться с выбором, расскажут об особенностях ухода.
			</p>
		</div>
		<div class="SEO__block">
			<h5 class="SEO__small-headline">Быстрый выбор женской обуви</h5>
			<p class="SEO__paragraph">
				Нет необходимости тратить свободное время для того, чтобы искать желаемую модель обуви в магазинах. Достаточно зайти в наш каталог женской обуви и с помощью фильтра отобрать возможные варианты по интересующим Вас критериям, таким как внешний и внутренний материал, цвет, сезон или бренд. Зачастую, в интернет-магазине обувь будет стоить ощутимо дешевле, чем в обычных магазинах. Помимо этого, у нас действует программа лояльности, которая позволяет нашим Клиентам покупать женскую обувь с дополнительной скидкой.
			</p>
		</div>
		<div class="SEO__block">
			<h5 class="SEO__small-headline">Как заказать женскую обувь</h5>
			<p class="SEO__paragraph">
				В интернет-магазине Diana-Fashion Вы можете добавить интересующую модель в корзину и оформить заказ, указав свои контактные данные. После этого, с Вами свяжется наш менеджер для подтверждения заказа, а также для уточнения нюансов по срокам и доставке женской обуви. Если Вы сомневаетесь в выборе или появляются трудности при оформлении заказа – просим Вас звонить нам по телефону 8 (921) 954-42-64. Мы обязательно поможем решить Вашу проблему.
			</p>
		</div>
		<div class="SEO__block">
			<h5 class="SEO__small-headline">Доставка женской обуви</h5>
			<p class="SEO__paragraph">
				Доставку женской обуви мы осуществляем по всем регионам России, но для жителей Санкт-Петербурга и Москвы есть некоторые преимущества в том, что для них предоставляется курьерская доставка и возможность примерки обуви. С Клиентами из других регионов мы работаем только по 100% предоплате, но в случае, если обувь Вам по каким-либо причинам не подойдет – у Вас есть полное право вернуть товар с полным возвратом денег, за исключением расходов на доставку.
			</p>
		</div>
	</div>


	<div class="last-footer">
		<div class="last-footer__links-layer">
			<ul class="last-footer__links">
				<li>
					<a href="">О магазине</a>
					<a href="../contact/index.html">Контакты</a>
				</li>
				<li>
					<a href="">Оплата и доставка</a>
					<a href="">Возврат</a>
				</li>
				<li>
					<a href="">Твой кабинет</a>
					<a href="../how_to_buy/index.html">Как купить</a>
				</li>
				<li>
					<a href="../lookbook/index.html">Наш блог</a>
					<a href="">Правила сайта</a>
				</li>
			</ul>
		</div>

		<span class="last-footer__pay-ways-headline">способы оплаты</span>

		<div class="last-footer__pay-ways">
			<a href="" class="last-footer__">
				<img src="../../design/assets/images/sberbank_footer.png">
			</a>
			<a href="" class="last-footer__" style="margin:0px 0px 0px 30px;">
				<img src="../../design/assets/images/visa_footer.png">
			</a>
			<a href="" class="last-footer__">
				<img src="../../design/assets/images/mastercard_footer.png">
			</a>
		</div>


		<div class="last-footer__bottom-layer">
			<span class="last-footer__1">© 2016-2017 «Альбана», все права защищены</span>
			<a href="" class="last-footer__2">info@albanashop.ru</a>
			<span class="last-footer__3">Разработка сайта: «Есть идея!»</span>
		</div>
	</div>





</footer>





<!-- ------------------SCRIPTS BELOW---------------- -->

   

	<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="../../node_modules/dynamics.js/lib/dynamics.js"></script>
	<script type="text/javascript" src="../../design/js/jquery.color.js"></script>
	<script type="text/javascript" src="../../node_modules/jquery/jquery-ui.js"></script>

	<script type="text/javascript" src="../../node_modules/vue/dist/vue.js"></script>

	<script type="text/javascript" src="../../design/js/header/vue_search_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/vue_cart_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/vue_submenu_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/vue_city_component.js"></script>

	<script type="text/javascript" src="../../design/js/header/main.js"></script>

	<script type="text/javascript" src="../../design/js/catalog/main.js"></script>


	<script type="text/javascript" src="../../design/js/index/vue_index.js"></script>

	<script type="text/javascript" src="../../design/js/catalog/vue_catalog_component.js"></script>
	
	<script type="text/javascript">
		$(".index").scroll(function() {
			console.log(1);
		})
	</script>

</body>
</html>