@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}

@font-face {
	font-family: 'GothamProLightItalic';
	src: url("../../assets/fonts/GothamPro-LightItalic.ttf");
}

.search {
	width: 72%;
	margin:0 auto;
}
	.search__search-field-block {
		width: 100%;
		height: 58px;
		border:1px solid #ccc;
		display: flex;
		align-items: center;
		margin-top: 30px;
	}
		.search__search-field {
			width: 100%;
			margin-left: 20px;
			font-family: "GothamPro";
			font-size: 16px;
		}


	.search__result-block {
		width: 100%;
		margin:17px 0px;
	}
		.search__headline {
			font-size: 22px;
			font-family: "GothamPro";
			color:#000;
			margin:0px 0px 20px 0px;
		}
		.search__search-result-item {
			font-size: 16px;
			font-family: "GothamPro";
			color:#000;
			margin: 0px 0px 10px 0px;

		}
			.search__search-result-item span {
				border-bottom: 1px solid #ccc;
				cursor: pointer;
			}

	.search__items {

	}
		.search__select-block {

		}
			.search__select {
				width: calc(100% - 30px);
				padding: 0px 15px;
				border:1px solid #ccc;
				height: 58px;
				outline: none;
			}

		.search__checkbox-block {
			display: flex;
			align-items: center;
		}
			.search__checkbox {
				width: 15px;
				height: 15px;
			}
			.search__label {
				font-family: "GothamProLight";
				font-size: 14px;
			}




	.catalog__block {
			display: inline-block;
			width: 30%;
			position: relative;
			cursor: pointer;
			margin:10px;
			border: 0px solid black;
			border-radius: 5px 5px 0px 0px;
		}
			.catalog__block:hover {
				box-shadow: 0px -8px 22px -7px #8080ff;
				transition: box-shadow .15s;
			}
			.catalog__image-block {
				position: relative;
			}
				.catalog__image {
					width: 100%;
				}
				.catalog__action {
					background-color: #000;
					color:#fff;
					font-family: "Arial";
					font-size: 13px;
					padding: 5px;
					position: absolute;
					right: 20px;
					top:20px;
				}
				.catalog__new {
					background-color: #000;
					color:#fff;
					font-family: "Arial";
					font-size: 13px;
					padding: 5px;
					position: absolute;
					right: 70px;
					top:20px;
				}

		.catalog__name {
			display: block;
			font-size: 16px;
			font-family: "GothamPro";
			color:#000;
			margin-top: 15px;
		}
		.catalog__cost {
			display: inline-block;
			padding: 3px;
			font-size: 15px;
			font-family: "GothamProLight";
			color:#000;
			margin-top: 15px;
		}
		.catalog__cost-action {
			display: inline-block;
			padding: 3px;
			font-size: 15px;
			font-family: "GothamProLight";
			background-color: #000;
			color:#fff;
			margin-top: 15px;
		}
		.catalog__hover-block {
			position: absolute;
			background-color: white;
			display: none;
			z-index: 10;
			width: 100%;
			opacity: 0;
		}
			.catalog__block:hover .catalog__hover-block {
				display: block;
				opacity: 1;
				box-shadow: 0px 16px 17px 0px #8080ff;
				transition: box-shadow .15s, opacity .15s;
			}

		.catalog__hover-block {
			font-size: 13px;
			font-family: "Arial";
			color:#777777;
		}
			.catalog__code {

			}
			.catalog__size-block {
				
			}
				.catalog__size {
					
				}
			.catalog__color {

			}
				.catalog__color-circle {
					display: inline-block;
					margin:0px 8px 0px 0px;
					width: 22px;
					height: 22px;
					border: 1px solid;
					border-radius: 55%;
				}







	.catalog__pagination-block {

	}
		.catalog__pages {
			display: block;
			text-align: center;
			font-family: "GothamPro";
			font-size: 12px;
			color:#aaaaaa;
			margin-bottom: 10px;
		}
		.catalog__pages-bar {
			width: 228px;
			height: 50px;
			margin:0 auto;
			display: flex;
			justify-content: space-between;
		}
			.catalog__pages-element {
				display: inline-block;
				color:#c19b77;
			}
				.catalog__pages-circle {
					height: 11px;
					width: 11px;
					border-radius:55%;
					border: 1px solid #c19b77;
					cursor: pointer;
				}
				.catalog__pages-central-circle {
					width: 11px;
					height: 11px;
					border-radius:55%;
					border: 1px solid #000;
					cursor: pointer;
					background-color: #000;
				}
				.catalog__number {
					font-size: 16px;
					font-family: "GothamPro";
				}
				.catalog__pages-points {
					display: block;
					cursor: pointer;
					margin-top:-18px;
					font-size: 30px;
				}
				.catalog__pages-central-circle {
					border: 1px solid black;
					background-color: #000;
				}
				.catalog__number-central {
					font-size: 16px;
					font-family: "GothamPro";
					color:#000;
				}
				.catalog__pages-circle:hover {
					background-color: #c19b77;
					transition: background-color .35s;
				}
					/*.catalog__pages-circle:hover body {
						background-color: #c19b77;
					}*/

