@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../../assets/fonts/GothaProMed.otf");
}

@font-face {
	font-family: 'GothamProLightItalic';
	src: url("../../../assets/fonts/GothamPro-LightItalic.ttf");
}


.favorites {
	width: 70%;
	margin: 0 auto;
}
	.favorites__headline {
		font-family: "GothamProMedium";
		font-size: 30px;
		text-transform: uppercase;
		color:#000;
	}
	.favorites__products-component {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-content: space-between;
		flex-flow: wrap;
		margin-bottom: 30px;
	}
		.favorites__product {
			max-width: 33%;
			min-width: 33%;
			position: relative;
			cursor: pointer;
			margin:10px 0px 10px 0px;
		}
			.favorites__product:hover .favorites__other-inf {
				-webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
				transition: all .35s; 
			}
			.favorites__product:hover {
				-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
		        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
		        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
		        transition: all .35s; 
			}
			.favorites__product:hover .favorites__favorite-icon {
				opacity: 1;
				transition: all .35s; 
			}

			.favorites__notes {
				position: absolute;
				padding: 10px;
				text-align: right;
				right: 0;
			}
				.favorites__note {
					color:#fff;
					background-color: #000;
					font-family: "Arial";
					font-size: 13px;
					display: inline;
					padding: 5px;
					margin-left: auto;
				}
				.favorites__note_new {

				}
				.favorites__note_action {

				}

			.favorites__favorite-icon {
				position: absolute;
				right: 10px;
				top:50px;
				z-index: 10;
				opacity: 0;
			}
				.favorites__favorite-active {
					display: block;
					z-index: 10;
				}
				.favorites__favorite-disactive {
					display: block;
					z-index: 10;
				}

			.favorites__img-block {
				width: 100%;
			}
				.favorites__img {
					width: 100%;
				}

			.favorites__main-inf {

			}
				.favorites__product-name {
					font-family: "GothamPro";
					font-size: 16px;
					color:#000;
					margin-top:10px;
					display: block;
				}
				.favorites__product-price {
					font-family: "GothamProLight";
					font-size: 15px;
					color:#000;
					margin-top: 10px;
					display: block;
				}

			.favorites__other-inf {
				position: absolute;
				z-index: 5;
				background-color: #fff;
				width: 100%;
				display: none;
			}
				.favorites__code {
					font-size: 13px;
					font-family: "Arial";
					color:#777777;
					margin:15px 0px 10px 0px;
				}
				.favorites__sizes-list {
					list-style-type: none;
					padding: 0;
					margin: 5px 0px 5px 0px;
				}
					.favorites__sizes-list-item {
						display: inline-block;
						font-size: 13px;
						font-family: "Arial";
						color:#777777;
					}

			.favorites__product-colors {
				
			}
				.favorites__products-color_black {
					display: inline-block;
					width: 22px;
					background-color: #000;
					border-radius: 55%;
					height: 22px;
				}
				.favorites__products-color_red {
					display: inline-block;
					width: 22px;
					background-color: #936336;
					border-radius: 55%;
					height: 22px;
				}
				.favorites__products-color_white {
					display: inline-block;
					width: 20px;
					background-color: #fff;
					border:1px solid black;
					border-radius: 55%;
					height: 20px;
				}
