<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="../../design/assets/images/640_logo_icon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../../node_modules/jquery/jquery-ui.min.css">

	<link rel="stylesheet" type="text/css" href="../../design/slick/slick.css">

	<meta charset="UTF-8">
	<title>Albana layout</title>
	
	<link rel="stylesheet" type="text/css" href="../../design/css/header/first_layer/main.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/header/first_layer/hovers.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/header/first_layer/adaptation.css">

	<link rel="stylesheet" type="text/css" href="../../design/css/footer/main.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/footer/adaptation.css">

	<link rel="stylesheet" type="text/css" href="../../design/css/about_us/main.css">
	<link rel="stylesheet" type="text/css" href="../../design/css/about_us/adaptation.css">

	
</head>
<body>
<div style="width: 100%;height: 245px;"></div>
	<header class="header">
		<div class="header__first-hat-layer">

			<div class="header__main-menu-button">

				<div class="header__burger">
					<div class="header__burger-item"></div>
					<div class="header__burger-item"></div>
					<div class="header__burger-item"></div>
				</div>

				<div class="header__dotted-burger">
					<div class="header__dotted-burger-first-strip">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="header__dotted-burger-second-strip">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="header__dotted-burger-third-strip">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>

			</div>


			<div class="header__number-element">

				<span class="header__pop-up-inscription">По России бесплатно</span>
				<span class="header__number">8 800 200 10 11</span>

			</div>

			<div class="header__city-element" @click="">
				<span class="header__choose-city">Выбери город</span>
				<span class="header__city">Ростов-на-Дону</span>
				<img src="../../design/assets/images/arrow.png" class="header__city-arrow">
				
				<span class="header__unknown-city">Город не установлен</span>
			</div>


			<div class="header__logo-element">
				<div class="header__logo-image">
				<a href="../../index.html"><img src="../../design/assets/images/logo_icon.png" class="header__full-logo">
				<img src="../../design/assets/images/640_logo_icon.png" class="header__short-logo"></a>
				</div>
				<div class="header__under-logo-city-wrapper">
					<span class="header__under-logo-choose-city">Выберите город</span>
					<span class="header__under-logo-city">Ростов-на-Дону</span>
					<img src="../../design/assets/images/arrow.png" class="header__city-arrow">
				</div>

			</div>


			<div class="header__account-element">
				<img src="../../design/assets/images/account_img.png" class="header__account-image">
				<span class="header__account">Твой кабинет</span>
				<img src="../../design/assets/images/arrow.png" class="header__account-arrow">

			</div>


			<div class="header__heart-element">

				<img src="../../design/assets/images/heart.png" class="header__heart-image">

			</div>

			
			<div class="header__cart-element" :class="conditionClass" @click="conditionClass='header__cart-element-opened'">
				<div class="header__cart-wrapper">
					<span class="header__order-number">{{ orders_q }}</span>
					<img src="../../design/assets/images/cart.png" class="header__cart-image">
					<span class="header__cart-word">КОРЗИНА</span>
					<img src="../../design/assets/images/close_icon_white.png" class="header__cart-close-icon" @click.stop="conditionClass='header__cart-element-closed'">
				</div>
			</div>

		</div>

		<div class="header__320-version-layer">
			<div class="header__320-version-number">
				<div class="header__number-element">
				<span class="header__pop-up-inscription">По России бесплатно</span>
				<span class="header__number">8 800 200 10 11</span>

			</div>
			</div>

			<div class="header__320-version-city">
				<div class="header__under-logo-city-wrapper">
					<span class="header__your-city">Твой город</span>
					<span class="header__under-logo-city">Ростов-на-Дону</span>
					<img src="../../design/assets/images/arrow.png" class="header__city-arrow">
				</div>
			</div>
		</div>

		<div class="header__category-tabs">
			<div class="header__gender-category-tabs">
				<div class="header__female">Женщинам</div>
				<div class="header__male">Мужчинам</div>
				<div class="header__kids">Детям</div>
			</div>
			<div class="header__product-tabs">
				<div class="header__product-tabs-wrapper">
					<div class="header__shoes" :class="shoe_submenu.conditionClass" @mouseenter="shoe_submenu.conditionClass='header__shoe-submenu-opened'"  @mouseleave="shoe_submenu.conditionClass='header__shoe-submenu-closed'">
						<span class="header__shoe">Обувь</span>

						<div class="header__shoe-submenu" v-if="">
							<div class="shoe-submenu__wrapper">
								<div class="shoe-submenu__kategory-column">
									<div v-for="item in shoe_submenu.kategory"  class="shoe-submenu__element-wrapper">
										<span class="shoe-submenu__element">{{ item.word }}</span>
									</div>
										<div class="shoe-submenu__new">
											<span>новинки</span>
										</div>
								</div>

								<div class="shoe-submenu__first-column">
									<div v-for="item in shoe_submenu.first_column" class="shoe-submenu__first-column-element-wrapper">
										<span class="shoe-submenu__first-column-element">{{ item.word }}</span>
									</div>
								</div>

								<div class="shoe-submenu__second_column">
									<div class="shoe-submenu__second-column-element-wrapper" v-for="item in shoe_submenu.second_column">
										<span class="shoe-submenu__second-column-element">{{ item.word }}</span>
									</div>
								</div>

								<div class="shoe-submenu__third-column">
									<div class="shoe-submenu__third-column-element-wrapper"  v-for="item in shoe_submenu.third_column">
										<span class="shoe-submenu__third-column-element">{{ item.word }}</span>
									</div>
								</div>

								<div class="shoe-submenu__brandes-column">
									<h4 class="shoe-submenu__headline">Бренды</h4>
									<div class="shoe-submenu__elements-wrapper">
										<ol class="shoe-submenu__list">
											<li v-for="item in shoe_submenu.brandes" class="shoe-submenu__list-element">{{ item.word }}</li>
										</ol>
									</div>
									<div class="shoe-submenu__brandes-button">
										<span>Все бренды</span>
										<img src="../../design/assets/images/white_arrow.png" class="shoe-submenu__brandes-arrow">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="header__bugs-element" 
					:class="bugs_submenu.conditionClass"
					@mouseenter="bugs_submenu.conditionClass='header__bugs-submenu-opened'"
					@mouseleave="bugs_submenu.conditionClass='header__bugs-submenu-closed'">
						<span class="header__bugs">Сумки</span>
						<div class="header__bugs-submenu">
							<span>Сумки</span>
						</div>
					</div>
					<div class="header__accessories-element"
					:class="accessories_submenu.conditionClass"
					@mouseenter="accessories_submenu.conditionClass='header__accessories-submenu-opened'"
					@mouseleave="accessories_submenu.conditionClass='header__accessories-submenu-closed'">
						<span class="header__accessories">Аксессуары</span>
						<div class="header__accessories-submenu">
							<span>Аксессуары</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

<div class="main-menu">
		<img src="../../design/assets/images/close_icon_white.png" class="main-menu__close-icon close-icon">
		<div  class="main-menu__content-wrapper">
			<div class="main-menu__first-column">
				<span class="main-menu__first-column-item">Главная</span>
				<span class="main-menu__first-column-item"><a href="../lookbook/index.html">Блог</a></span>
				<span class="main-menu__first-column-item">Оплата и доставка</span>
				<span class="main-menu__first-column-item">Возврат</span>
				<span class="main-menu__first-column-item">Как купить</span>
				<div class="main-menu__first-column-item main-menu__enter-your-cabinet">
					<span>Войди в свой кабинет</span>
					<span>или</span>
					<span>Зарегистрируйся</span>
				</div>
			</div>
			<div class="main-menu__second-column">
				<div class="main-menu__column-logo-wrapper">
					<img src="../../design/assets/images/640_logo_icon.png">
				</div>
			</div>
			<div class="main-menu__third-column">
				<span>Обувь</span>
				<span>Сумки</span>
				<span>Аксессуары</span>
				<div class="main-menu__search-element search-element">
					<img src="../../design/assets/images/white_lupa.png" class="main-menu__magnifier">
					<input type="text" name="" placeholder="Поиск" class="main-menu__search">
				</div>
			</div>
		</div>
	</div>

	<div class="city-menu">
		<img src="../../design/assets/images/close_icon_black.png" class="city-menu__close-icon close-icon">
		<div class="city-menu__content-wrapper">
			<div class="city-menu__main-cities">
				<span v-for="item in main_cities">{{ item }}</span>
			</div>
			<div class="city-menu__logo-element">
				<div class="city-menu__logo-wrapper">
					<img src="../../design/assets/images/640_logo_icon.png" class="city-menu__logo-img">
				</div>
			</div>
			<div class="city-menu__search-element">
				<div class="city-menu__search-wrapper search-element">
					<img src="../../design/assets/images/lupa.png" class="city-menu__magnifier">
					<input type="text" name="" placeholder="Поиск города" class="city-menu__search">
				</div>
			</div>
			<div class="city-menu__cities-list">
				<ol>
					<li v-for="item in cities">
						{{item}}
					</li>
				</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="account-menu">
		<img src="../../design/assets/images/close_icon_black.png" class="account-menu__close-icon close-icon">

		<div class="account-menu__icon">
			<img src="../../design/assets/images/640_logo_icon.png">
		</div>
		<div class="account-menu__text">
			<span class="account-menu_first-indent">
				Тебя давно не было и сайт успел соскучиться :(
			</span>
			<span class="account-menu_second-indent">
				Представься, введя email b пароль. А если не помнишь, то <span class="account-menu__recover">жми здесь</span>
			</span>
		</div>
		<div class="account-menu__form-element">
			<form class="account-menu__form">

				<div class="account-menu__email-wrapper">
					<input type="text" name="" placeholder="E-mail" class="account-menu__email">
				</div>
				<div class="account-menu__password-wrapper">
				<input type="text" name="" placeholder="Пароль" class="account-menu__password">
				</div>
			<button type="submit" class="account-menu__button">Войти</button>
			<label><input type="checkbox" name="" class="account-menu__checkbox"> Не запоминай меня на этом компьютере</label>
			</form>
		</div>
	</div>


	<div class="cart-menu">
		<div class="product-block" v-for="item in cart_elements">
			<div>
				<div class="product-block__image-element">
					<img :src="item.img_src">
				</div>
			</div>
			<div class="product-block__description-element">
				<span class="product-block__name">{{ item.product_name }}</span>
				<span class="product-block__color">{{ item.product_color }}</span>
				<span class="product-block__size" v-if="">{{ item.product_size }}</span>
			</div>
			<div class="product-block__price-element">
				<span class="product-block__price">{{ item.product_price + " Р" }}</span>
				<img src="../../design/assets/images/little_close_icon.png" class="product-block__price-element-cross">
			</div>
			<div class="product-block__quantity-element">
				<input class="product-block__quantity-input" type="number" placeholder="" min="0" v-model="item.quantity" @change="recount">
				<span class="product-block__equal-sign">=</span>
			</div>
			<div class="product-block__final-price-element">
				<span class="product-block__final-price">{{ item.product_price * item.quantity + " Р" }}</span>
				<div class="product-block__close-icon-wrapper" >
					<img src="../../design/assets/images/close_icon_black.png" class="product-block__close-icon">
				</div>
			</div>
		</div>
		

		<div class="final-bar">
			<div class="final-bar__result-element">
				<span class="final-bar__result">итого</span>
				<span class="final-bar__result-price">{{ control_bar.final_price + " Р"}}</span>
			</div>
			<div class="final-bar__make-a-order-element">
				<button class="final-bar__make-a-order-button">Оформить заказ</button>
			</div>
			<div class="final-bar__keep-buing-element">
				<button class="final-bar__keep-buing-button">Продолжить покупки</button>
			</div>
		</div>


	</div>

		
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


<div class="search-submenu">
	<div class="search-submenu__search">
				<img src="../../design/assets/images/lupa.png" class="search-submenu__magnifier-image">
				<input type="text" name="" class="search-submenu__search-input" placeholder="Поиск" v-model="message" value="message">
			</div>

	<div class="search-submenu__main-part" v-show="autocomplete.isExist">

		<div class="search-submenu__row search-submenu__kategories" v-show="autocomplete.kategories.isExist">
			<span>Категории</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.kategories.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>

		<div class="search-submenu__row search-submenu__brandes" v-show="autocomplete.brandes.isExist">
			<span>Бренды</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.brandes.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>



		<div class="search-submenu__row search-submenu__articles" v-show="autocomplete.articles.isExist">
			<span>Статьи</span>
			<div>
				<ul>
					<li v-for="item in autocomplete.articles.data">
						{{item.header}}
					</li>
				</ul>
			</div>
		</div>

		<div class="search-submenu__row search-submenu__product" v-for="item in autocomplete.products.data" v-show="autocomplete.products.isExist">
			<ul>
				<li class="search-submenu__product-element">
					<div class="search-submenu__product-image-element">
						<img :src="item.url" class="search-submenu__product-image">
					</div>
					<div class="search-submenu__product-inf">
							<span class="search-submenu__product-name">{{ item.header }}</span>
							<span class="search-submenu__product-price">{{ item.price + " Р" }}</span>

					</div>
				</li>
			</ul>
			
		</div>
	</div>

	<div class="search-submenu__all-results-bar" v-if="autocomplete.isExist">Все результаты поиска</div>
</div>
	</div>
</header>



<main class="about-us">
	<div class="about-us__greeting">
		<h1 class="about-us__greet-headline">Привет!</h1>
		<span class="about-us__dash"></span>
		<span class="about-us__greet-text">
			Мы – команда единомышленников, которые трепетно любят своё дело! Мы любим красоту. Мы разбираемся в моде и понимаем все тонкости обувного дела. Мы любим свою работу. Мы каждый день делаем ее с улыбкой! И все, что мы делаем, мы делаем для вас!
		</span>
	</div>

	<div class="about-us__main-photos-block">
		<div class="about-us__main-photo-block">
			<img :src="main_images.main_src" class="about-us__main-photo">
		</div>
		<div class="about-us__sub-photos">
			<div>
				<img :src="main_images.sub_image_1">
			</div>
			<div>
				<img :src="main_images.sub_image_2">
			</div>
			<div>
				<img :src="main_images.sub_image_3">
			</div>
		</div>
	</div>

	<div class="about-us__article-block">
		<div class="about-us__headline-block">
			<h4>Наш идейный вдохновитель...</h4>
		</div>
		<div class="about-us__text-block">
			<p>... и руководитель сети магазинов обуви «ALBANA» в Ростове-на-Дону – Мария Лунева.</p>
			<p>Вот уже более 15 лет работает с итальянскими производителями обуви, свободно говорит на итальянском языке и лично знакома с владельцами всех представленных у нас брендов. </p>
			<p>Италия – её второй дом, она искренне влюблена в эту страну, и делится с нами ее теплом, сочностью, эмоциональностью и красотой! Без нее не было бы нас - коллектива ALBANA!</p>
		</div>
	</div>

	<div class="about-us__slider">
		<div v-for="item in first_slider_images"><img :src="item.src"></div>
	</div>

	<div class="about-us__article-block">
		<div class="about-us__headline-block">
			<h4>Наши магазины</h4>
		</div>
		<div class="about-us__text-block">
			<p>В 2010 году в Ростове-на-Дону был открыт первый магазин итальянской обуви на Ворошиловском проспекте: тогда еще он носил название «Альбано» – именно так до сих пор его называют наши давние клиенты!</p>
			<p>В 2017-м году мы произвели ребрендинг, и действующий магазин получил название “ALBANA”.</p>
			<p>В том же году осенью мы открыли второй магазин на пересечении улиц М.Горького и проспекта Чехова – «ALBANA GOLD”.</p>
			<p>Разница между магазинами – прежде всего в ассортименте.</p>
		</div>
	</div>

	<div class="about-us__horisontal-article-block">
		<div class="about-us__text-block">
			<h5>Магазин ALBANA на Ворошиловском</h5>
			<p>
				Исторически мультибрендовый, в нем мы представляем коллекции более чем 50 брендов обуви и сумок, в самом разном ценовом диапазоне: от демократичных брендов (Nero Giardini, Nila&Nila, Napoleoni, Gianmarco Sorelli, Blugirl, Versace Jeans, Save my Bag и других) – до классических брендов из высокого ценового сегмента (Accademia, Marino Fabiani, Mara, Loriblu, Giorgio Fabiani, Ilasio Renzoni, Voile Blanche). В этом магазине мы представляем коллекции итальянской обуви, сумок, и аксессуаров на любой вкус и кошелек.
			</p>
			<span>Instagram: <a href="">albana_shop</a></span>
		</div>
		<div class="about-us__image-block">
			<div class="about-us__image-block-slider">
				<div v-for="item in first_block_slider"><img :src="item.src"></div>
			</div>
		</div>
	</div>

	<div class="about-us__horisontal-article-block">
		<div class="about-us__text-block">
			<h5>Магазин ALBANA GOLD на Горького</h5>
			<p>
				Представляет коллекции известных и эксклюзивных итальянских брендов из верхнего ценового диапазона. В ALBANA GOLD представлена обувь и сумки брендов Pollini, Baldan, Fabi, Cesare Paciotti, Baldinini, Blumarine, John Richmond, Braccialini, See By Chloe, Cavalli Class, Alberto Gozzi и других. Также в ALBANA GOLD широко представлена линейка женских аксессуаров: кошельков, зонтов, ремней, шарфов, а также оригинальных итальянских украшений бренда Braccialini.
			</p>
			<span>Instagram: <a href="">albana_gold</a></span>
		</div>
		<div class="about-us__image-block">
			<div class="about-us__image-block-slider">
				<div v-for="item in second_block_slider"><img :src="item.src"></div>
			</div>
		</div>
	</div>

	<div class="about_us__img-with-label">
		<img src="../../design/assets/images/full_photo.png" class="about_us__img">
		<div class="about_us__label">
			<p class="about_us__label-text">В оба магазина мы вложили свое сердце и душу! Мы не называем себя продавцами - для вас мы настоящие обувные феи! Мы – настоящая семья и гордимся этим.</p>
		</div>
	</div>

	<div class="about-us__article-block">
		<div class="about-us__headline-block">
			<h4>Наш сервис</h4>
		</div>
		<div class="about-us__text-block">
			<p>
				На наших глазах выросло целое поколение детей наших клиентов, мы обуваем всех – от бабушек до их внучек!
			</p>
			<p>
				Почему мы так любим свою работу? Потому что знаем, что покупка – это прежде всего эмоция! И мы делаем все, чтобы Ваши эмоции от посещения наших магазинов были только положительными.
			</p>
			<p>
				Каждый день мы угощаем вас свежесваренным кофе и вкусными сладостями – а иногда и чем покрепче! Зимой мы обожаем варить глинтвейн, чтобы наши гости улыбались и не мерзли! А летом – с удовольствием угощаем освежающим лимонадом.
			</p>
			<p>У нас вы всегда можете воспользоваться примерочной, чтобы оценить Ваш образ целиком, а также персональной консультацией вашей любимой феи.</p>
			<p>Мы имеем прямой контакт со всеми производителями: мы не только даем стандартную гарантию на приобретенную у нас обувь, но и в течении всего срока носки помогаем клиентам с ее «техобслуживанием»: меняем утерянные или сломанные детали, запрашивая у производителей оригинальные для замены, либо подбираем аналогичные – в любом случае, мы никогда не оставим вас с вашей проблемой наедине.</p>
			<p>Кстати, с самого открытия в нашей сети работает мастер по ремонту обуви: он знает все тонкости производства и работает с материалами высочайшего качества.</p>
			<p>Вы можете принести обувь, приобретенную у нас, в любой из магазинов - и мы окажем вам услуги по ремонту и профилактике вашей обуви: заменим набойки, восстановим кожаное покрытие и многое другое! Наши цены на ремонтные работы совсем невысокие: для нас это не способ заработать – а лишь дополнительный удобный и качественный сервис для наших клиентов.</p>
		</div>
	</div>

	<div class="about-us__article-block">
		<div class="about-us__headline-block">
			<h4>Мы в онлайн режиме</h4>
		</div>
		<div class="about-us__text-block">
			<p>Что касается нашей работы в режиме «онлайн» - по-настоящему она берет свое начало в 2015 году – именно тогда мы заявили о себе в социальной сети INSTAGRAM: появился аккаунт @albana_shop.
</p>
			<p>Оказалось, что у нас так много клиентов в других городах! Мы стали с ними гораздо ближе: у них появилась удобная возможность наблюдать за нами в онлайн и выбирать понравившиеся модели, не выходя из дома. Для каждого из них мы оказывали услуги по индивидуальному подбору обуви – снимали десятки фото и видео, производили замеры всех возможных параметров, консультировали, что подойдет и не подойдет клиенту с учетом его индивидуальных особенностей. Ведь подобрать вам не только красивую, но еще и идеально сидящую на ножке пару – непростая и по-настоящему важная для нас задача.</p>
			<p>С открытием магазина ALBANA GOLD и у него появился свой аккаунт – @albana_gold. В нем можно увидеть фотосессии с актуальной коллекцией и получить нашу консультацию по любому вопросу!</p>
			<p>Со временем количество наших иногородних клиентов стало таким большим, что мы поняли: без полноценной онлайн-витрины нам никак не обойтись! В Instagram нет возможности представить наш большой ассортимент и показать модели со всех сторон.</p>
			<p>Тем не менее, для вашего удобства и конечно же, удовольствия, мы постарались сделать интернет-магазин итальянской обуви ALBANA максимально интересным, живым и красочным: помимо классических фото в различных ракурсов здесь вы также увидите фото моделей, снятые во время многочисленных fashion-фотосессий, а также на ножке модели – так вам будет проще представить их вживую и оценить, насколько они впишутся в тот или иной образ.</p>
			<p>Также, мы сохранили для вас возможность полноценной онлайн консультации: напишите нашей обувной фее во всплывающем окошке справа внизу – и она поможет вам с выбором: пришлет дополнительную информацию о понравившихся моделях, поможет сравнить их характеристики, и даст рекомендации относительно того, подойдут ли они в той или иной ситуации: наши консультанты лично промеряют все модели в коллекции и смогут ответить практически на любой ваш вопрос. Согласитесь, такой формат шопинга на диване гораздо приятнее, чем сухое общение с молчаливым монитором!</p>
		</div>
	</div>

	<div class="about_us__dolce-vita">
		<span class="about_us__dolce-vita-text">Мы - истинные почитатели итальянского «Dolce Vita!», хотим приобщить к культуре сладкой жизни и вас! Желаем вам приятного шопинга!</span>
	</div>

	<hr>
	<h2 class="about-us__headline about-us__main-instagram-headline">Instagram</h2>

	<div class="index__instagram">
			<div class="index__first-instagram-block">
				<h6 class="index__instagram-headline">@albana_gold</h6>
				<div v-for="item in instagram_fc" class="index__image-block" @mouseenter="item.hoverClass='index__image-block_opened'" @mouseleave="item.hoverClass='index__image-block_closed'" :class="item.hoverClass">
					<div class="index__wrapper">
						<img :src="item.url" class="index__instagram-image">
						<div class="index__activity-bar">
							<img src="../../design/assets/images/little_heart.png">
							{{item.likes}}
							<img src="../../design/assets/images/comment.png">
							{{item.comments}}
						</div>
					</div>
				</div>
			</div>
				<div class="index__first-instagram-block">
					<h6 class="index__instagram-headline">@albana_shop</h6>
					<div v-for="item in instagram_sc" class="index__image-block" @mouseenter="item.hoverClass='index__image-block_opened'" @mouseleave="item.hoverClass='index__image-block_closed'" :class="item.hoverClass">
						<div class="index__wrapper">
							<img :src="item.url" class="index__instagram-image">
							<div class="index__activity-bar">
								<img src="./design/assets/images/little_heart.png">
								{{item.likes}}
								<img src="./design/assets/images/comment.png">
								{{item.comments}}
							</div>
						</div>
					</div>
				</div>
		</div> 

</main>

<footer>
	<div class="first-footer">
		<div class="first-footer__externall-wrapper">
			<div class="first-footer__wrapper-full">
				<div class="first-footer__first-column">
					<img src="../../design/assets/images/card_photo.png" class="first-footer__card-image">
				</div>
				<div class="first-footer__second-column">
					<div class="first-footer__header">
						<div class="first-footer__logo-wrapper">
							<img src="../../design/assets/images/640_logo_icon.png" class="first-footer__logo">
						</div>
					<span class="first-footer__headline">Клуб привелегий albana</span>

					</div>

					<div class="first-footer__blocks">

						<div class="first-footer__first-block">
							<span class="first-footer__first-text">Накопительная дисконтная карта до -12% от суммы</span>
							<button class="first-footer__first-button">Подробности</button>
						</div>

						<div class="first-footer__second-block">
							<span class="first-footer__second-text">Подписавшись на скидки и получи максимум привелегий</span>
							<button class="first-footer__second-button">Подписаться</button>
						</div>
					</div>
				</div>
				<div class="first-footer__third-column">
					<img src="../../design/assets/images/phone_photo.png" class="first-footer__phone-image">
				</div>
			</div>
		</div>
		

		<div class="first-footer__externall-wrapper_short">
			<h4 class="first-footer__headline">клуб привилегий albana</h4>
			<div class="first-footer__wrapper_short">
				<div class="first-footer__card-element">
					<img src="../../design/assets/images/card_photo.png">
				</div>
				<div class="first-footer__first-block-element">
					<span class="first-footer__first-text_short">Накопительная дисконтная карта до -12% от суммы</span>
					<button class="first-footer__first-button_short">Подробности</button>
				</div>
				<div class="first-footer__second-block-element">
					<span class="first-footer__second-text_short">Подписавшись на скидки и получи максимум привелегий</span>
					<button class="first-footer__second-button_short">Подписаться</button>
				</div>
				<div class="first-footer__phone-element">
					<img src="../../design/assets/images/phone_photo.png">
				</div>
			</div>
		</div>

	</div>

	<div class="last-footer">
		<div class="last-footer__links-layer">
			<ul class="last-footer__links">
				<li>
					<a href="">О магазине</a>
					<a href="../contact/index.html">Контакты</a>
				</li>
				<li>
					<a href="">Оплата и доставка</a>
					<a href="">Возврат</a>
				</li>
				<li>
					<a href="">Твой кабинет</a>
					<a href="../how_to_buy/index.html">Как купить</a>
				</li>
				<li>
					<a href="../lookbook/index.html">Наш блог</a>
					<a href="">Правила сайта</a>
				</li>
			</ul>
		</div>

		<span class="last-footer__pay-ways-headline">способы оплаты</span>

		<div class="last-footer__pay-ways">
			<a href="" class="last-footer__">
				<img src="../../design/assets/images/sberbank_footer.png">
			</a>
			<a href="" class="last-footer__" style="margin:0px 0px 0px 30px;">
				<img src="../../design/assets/images/visa_footer.png">
			</a>
			<a href="" class="last-footer__">
				<img src="../../design/assets/images/mastercard_footer.png">
			</a>
		</div>


		<div class="last-footer__bottom-layer">
			<span class="last-footer__1">© 2016-2017 «Альбана», все права защищены</span>
			<a href="" class="last-footer__2">info@albanashop.ru</a>
			<span class="last-footer__3">Разработка сайта: «Есть идея!»</span>
		</div>
	</div>





</footer>





<!-- ------------------SCRIPTS BELOW---------------- -->

	<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="../../node_modules/dynamics.js/lib/dynamics.js"></script>
	<script type="text/javascript" src="../../design/js/jquery.color.js"></script>
	<script type="text/javascript" src="../../design/slick/slick.js"></script>
	<script type="text/javascript" src="../../node_modules/jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="../../node_modules/jquery/masked_input/jquery.maskedinput.min.js"></script>


	<script type="text/javascript" src="../../node_modules/vue/dist/vue.js"></script>

	<script type="text/javascript" src="../../design/js/header/vue_search_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/vue_cart_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/vue_submenu_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/vue_city_component.js"></script>
	<script type="text/javascript" src="../../design/js/header/main.js"></script>
	<script type="text/javascript" src="../../design/js/index/vue_index.js"></script>


	<script type="text/javascript" src="../../design/js/about_us/main.js"></script>
	<script type="text/javascript" src="../../design/js/about_us/vue_about-us_component.js"></script>


</body>
</html>