@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}

body {
	overflow-x: hidden;
}

.account__main-headline {
	font-family: "GothamProMedium";
	font-size: 30px;
	color:#000;
}



.account {

}
	.account__default {
		display: grid;
		grid-template-columns: 25% 48% 27%;
	}
		.account__first-column {
			padding: 15px;
		}
			.account__cabinet-headline {
				font-family: "GothamProLight";
				font-size: 22px;
				color: #000;
			}
			.account__cabinet-list {
				list-style-type: none;
				padding:0;
			}
				.account__cabinet-list-item {
					font-family: "GothamProLight";
					font-size: 16px;
					color:#000;
					margin-bottom:20px;
				}
					.account__cabinet-list-item-text {
						cursor: pointer;
					}

					.account__cabinet-list-item img {
						margin-left: 20px;
						margin-bottom: 3px;
						cursor: pointer;
					}


		.account__second-column {
			
		}
			.account__orders-headline {
				font-family: "GothamProMedium";
				font-size: 30px;
				color:#000;
			}
			.account__orders-list-wrapper {

			}
				.account__orders-list {
					list-style-type: none;
					padding: 0;
					/*columns: 2;
*/				}
					.account__orders-list-item {
						margin: 0px 0px 25px 0px;
					}
						.account__orders-list-content {
							width: 160px;
						}
							.account__orders-list-headline {
								font-family: "GothamPro";
								font-size: 18px;
								color:#b6814f;
								text-align:right;
								margin: 10px 0px 10px 5px;
								cursor: pointer;
							}
							.account__orders-key-word {
								font-size: 13px;
								font-family: "GothamProLight";
								color:#999999;
								display: inline-block;
								width: 55px;
								text-align: right;
								margin-right: 5px;
								cursor: default;
							}
							.account__orders-word {
								font-size: 15px;
								font-family: "GothamProMedium";
								cursor: default;
							}
							.account__orders-check {
								width: 100px;
								margin-left: auto;
							}
								.account__orders-eye-wrapper {
									width: 26px;
									height: 26px;
									border: 1px solid #b88453;
									border-radius: 55%;
									display: inline-block;
									cursor: pointer;
								}
									.account__orders-eye-wrapper img {
										margin:7px 0px 0px 4px;
									}

								.account__check-word {
									font-family: "Arial";
									font-size: 13px;
									color:#999999;
									cursor: pointer;
									border-bottom: 1px dotted #999;
								}

		.account__third-column {
			text-align: center;
		}
			.account__third-column-headline {
				font-size: 18px;
				font-family: "GothamPro";
				color:#000;
				text-align: left;
				margin: 45px 0px;
			}
			.account__card {
				-webkit-box-shadow: 0px 0px 9px 0px rgba(119,99,230,1);
				-moz-box-shadow: 0px 0px 9px 0px rgba(119,99,230,1);
				box-shadow: 0px 0px 9px 0px rgba(119,99,230,1);
				border-radius: 10px;
			}
			.account__third-column-text {
				font-family: "GothamProLight";
				font-size: 15px;
			}
				.account__procent {
					font-family: "GothamProMedium";
				}



/*---------------------------FROGOTTEN DOWN THERE---------------------------------------*/



	.account__forgotten {
		width: 75%;
		margin: 0 auto;
	}
		.account__forgotten-headline {

		}
		.account__comment-block {
			margin: 30px 0px;
		}
			.account__comment-text {
				font-size: 16px;
				font-family: "GothamProLight";
				color: #000;
			}

		.account__form-block {

		}
			.account__form {

			}
				.account__field-block {
					width: 70%;
					border:1px solid #cccccc;
					height: 58px;
					margin-bottom: 40px;
					display: inline-block;
					position: relative;
				}
					.account__field-input {
						position: absolute;
						left: 25px;
						top:20px;
						font-family: "GothamProLight";
						font-size: 16px;
						color:#999999;
					}
					.account__field-star {
						font-family: "GothamProLight";
						font-size: 48px;
						position: absolute;
						margin-left: auto;
						color:#bbbbbb;
						right: 15px;
						top: 12px;
					}

				.account__default-buttom {
					display: inline-block;
					vertical-align: top;
					width: 20%;
					height: 60px;
					background-color: #000;
					color:#fff;
					font-family: "GothamProLight";
					font-size: 16px;
					border: none;
					margin-left: 16px;
				}