/*--------------------MIN--------------------*/

@media screen and (min-width: 1280px) {
	.header__first-hat-layer {
	display: grid;
	grid-template-columns:96px 226px 164px calc(100% - 972px) 206px 154px 126px;
	grid-template-rows: 125px;
	}

		.header__first-hat-layer * {
			cursor: pointer;
		}

	
	.header__logo-element {
		
	}
	
		.header__logo-image {
			display: block;
			margin:25px auto;
		}

	.header__cart-element {
		margin-left:auto;
	}

	.header__account-element {
		margin:0 auto;
	}

	.header__heart-element {
		margin:0 auto;
	}

}

@media screen and (min-width: 960px) {
	.header__number-element:hover {
	background-color: #f4f4f4;
	transition: background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}
		.header__number-element:hover .header__pop-up-inscription {
			opacity: 1;
			transition: opacity 0.2s;
			transition-timing-function: cubic-bezier(.35,.56,.61,.2);
		}

		

		.header__number-element:hover .header__number {
			color:#000000;
			transition: color 0.2s;
			transition-timing-function: cubic-bezier(.35,.56,.61,.2);
		}



}


/*--------------------MAX--------------------*/


@media screen and (max-width: 1280px) {

	.header__first-hat-layer {
		grid-template-columns:10% 20% 39.6875% 14.2% 8% 8.1%;
	}

	.header__logo-element {
		margin:0 auto;
	}

		.header__logo-image {
			overflow:hidden;
			height: 50px;
			margin:20px auto;
			width: 270px;
		}

		.header__under-logo-city-wrapper {
			cursor: pointer;
			display: block;
		}

	.header__city-element {
		display: none;
	}

	.header__heart-element {
		width: 80px;
		
	}

		.header__heart-image {
			display: block;
			margin:32px 0px 0px 30px;
		}

		.header__cart-element {
			margin:0px 0px 0px auto;
		}

			
}


@media screen and (max-width: 960px) {

	.header__first-hat-layer {
		grid-template-columns:12% 27.8% 20% 18.4% 10% 11.9%;
	}


	.header__main-menu-button {
		height: 73px;
		width: 73px;
		margin: 0px 3px 0px 0px;
	}

		.header__burger {
			width: 35px;
			margin:22px 0px 0px 20px;
			overflow: hidden;
		}

		.header__dotted-burger {
			left: 20px;
			top: 22px;
		}


	.header__number-element {
		width: 180px;
		height: 73px;
	}
		.header__pop-up-inscription {
			opacity: 1;
			margin:10px 10px; 
		}

		.header__number {
			color:#000000;
			font-size: 19px;
			margin:10px 10px;
		}



	.header__logo-element {
		width: 80px;
	}

		.header__logo-image {
			width: 60px;
			height: 65px;
		}

		.header__under-logo-city-wrapper {
			
		}

		.header__short-logo {
			
		}

			.header__full-logo {
				display: none;
			}



	.header__account-element {
		width: 117px;
		height: 73px;
	}

		.header__account {
			margin: 27px 0px 0px 15px;
		}

		.header__account-arrow {
			display: none;
		}


	.header__heart-element {
		width: 73px;
		height: 73px;
	}

		.header__heart-image {
			margin: 25px 0px 0px 23px;
		}


	.header__cart-element {
		width: 61px;
		height: 73px;
	}

		.header__order-number {
			margin:25px 0px 0px 10px;
		}

		.header__cart-image {
			margin-top: 14px;
		}

		.header__cart-image-white {
			margin-top: 14px;
		}


	.header__category-tabs {

	}
		.header__product-tabs {
			background-color: #f4f4f4;
		}

			.header__product-tabs-wrapper {
				justify-content: left;
			}

		.search-submenu__search {
			left:95%;
		}

			.search-submenu__search-input {
				display: none;
			}
}

@media screen and (max-width: 640px) {

	.header__first-hat-layer {
		grid-template-columns:21% 23% 18.4% 15% 22.5%;
		grid-template-rows: 80px;
	}


	.header__first-hat-layer .header__number-element {
		display: none;
	}
		.header__pop-up-inscription {
			
		}

		.header__number {
			
		}


	.header__logo-element {
		
	}

		.header__logo-element .header__under-logo-city-wrapper {
			display: none;
		}


	.header__account-element {
		width: 58px;
	}

		.header__account {
			display: none;
		}

		.header__account-arrow {
			display: none;
		}

		.header__account-image {
			display: block;
			margin:20px 0px 0px 18px;
		}

	.header__heart-element {
		width: 58px;
	}

		.header__heart-image {
			margin:20px 0px 0px 15px;
		}


	.header__320-version-layer {
		display: grid;
		grid-template-columns: 56.625% 43.375%;
		grid-template-rows: 72px;
		margin-top: 20px;
	}

		.header__320-version-number {
			width: 55%;
		}

			.header__pop-up-inscription {
				margin:0px 0px 0px 10px;
			}

			.header__number {
				margin:0px 0px 0px 10px;
			}


		.header__320-version-city {
			height: 72px;
			width: 100%;
		}

			.header__your-city {
				font-family: "Arial";
				font-size: 13px;
				color:#888;
			}
	
			.header__under-logo-city-wrapper {

			}

			.header__your-city {
				display: block;
			}


	.header__category-tabs {
		
	}

		.header__gender-category-tabs {
			display: none;
		}

		.header__product-tabs {
			
		}

			.header__product-tabs-wrapper {
				display: none;
			}

			.header__search {
				width: 100%;
				top: 172px;
				left: 0px;
				display: flex;
				justify-content: space-between;
			}

				.header__search-input {
					display: block;
					margin:0px 0px 0px 20px;
				}

				.header__magnifier-image {
					order:1;
					margin:0px 20px 0px 0px;
				}

		.search-sumenu {

		}
			.search-submenu__search {
				display: flex;
				width: 100%;
				left:0;
				top:175px;
				justify-content: space-between;
			}

				.search-submenu__magnifier-image {
					order:2;
					margin: 0px 25px 0px 0px;
				}

				.search-submenu__search-input {
					display: inline-block;
					margin:0px 0px 0px 25px;
					
				}


}

@media screen and (max-width: 320px) {
	.header__first-hat-layer {
		grid-template-columns:67px 73px 59px 48px 72px;
	}

	.header__320-version-layer {
		grid-template-columns: 180px 140px;
	}

		.header__320-version-number {
			width: 180px;
		}

			.header__pop-up-inscription {
				
			}

			.header__number {
				
			}


		.header__320-version-city {
			width: 140px;
		}

			.header__your-city {

			}
	
			.header__under-logo-city-wrapper {
				
			}

			.header__your-city {
				
			}
}


