/*.header__number-element:hover {
	background-color: #f4f4f4;
	transition: background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}
	.header__number-element:hover .header__pop-up-inscription {
		opacity: 1;
		transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}

	

	.header__number-element:hover .header__number {
		color:#000000;
		transition: color 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}*/



.header__city-element:hover {
	background-color: #f4f4f4;
	transition: background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}
	.header__city-element:hover .header__city {
		color:#000000;
		transition: color 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}

	.header__city-element:hover .header__city-arrow {
		opacity: 1;
		transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}

	.header__city-element:hover .header__choose-city {
		opacity: 1;
		transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}

	.header__unknown-city{
		
	}


.header__logo-element {
	
}
	
	.header__logo-image {
		
	}

	.header__under-logo-city-wrapper:hover {
		
	}

	.header__under-logo-city-wrapper:hover .header__under-logo-choose-city {
		opacity: 1;
		transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}

	.header__under-logo-city-wrapper:hover .header__under-logo-city {
		color:#000000;
		transition: color 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}
	.header__under-logo-city-wrapper:hover .header__city-arrow {
		opacity: 1;
		transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}


.header__account-element:hover {
	background-color: #f4f4f4;
	transition: background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}

	.header__account-element:hover .header__account {
		color: #000000;
		transition: color 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}

	.header__account-element:hover .header__account-arrow {
		opacity: 1;
		transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	}



.header__heart-element:hover {
	background-color: #f4f4f4;
	transition: background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}

	.header__heart-image {

	}


.header__cart-element-closed:hover {
	background-color: #b6814f;
	color:#fff;
	
}	

	.header__cart-element-closed:hover img{
		filter: invert(100%);
		
	}





.header__cart-element-opened {
	background-color: #b6814f;
	width: 100%;
	color: #fff;
	position: absolute;
	right: 0;
	z-index: 150;
}

	.header__cart-element-opened img {
		filter: invert(100%);
		transition: filter .35s;
	}

	.header__cart-element-opened .header__cart-wrapper {
		margin:0 auto;
		
	}

	.header__cart-element-opened .header__cart-word {
		display: inline;
	}

	.header__cart-element-opened .header__cart-close-icon {
		display: inline-block;
		filter: invert(0%);
		transition: filter .35s;
	}


	.header__order-number {
		
	}

	.header__cart-image {
		
	}




.search-submenu {
	
}

	.search-submenu__main-part {
		
	}

		.search-submenu__row {
				
		}

			.search-submenu__row div ul li:hover {
				text-decoration: underline;
				
			}


.header__shoe-submenu-opened {
	
}

	.header__shoe-submenu-opened .header__shoe {
		background-color: #b6814f;
		color:#fff;
		transition: all .35s;
	}


	.header__shoe-submenu-opened .header__shoe-submenu{
		/*display: block;
		opacity: 1;
		transition: opacity 11.35s;
		-webkit-transition: opacity 1s, ease-out 0.5s;
	     -moz-transition: opacity 1s, ease-out 0.5s;
	     -o-transition: opacity 1s, ease-out 0.5s;
	     transition: opacity 1s, ease-out 0.5s;*/
	}

.header__shoe-submenu-closed .header__shoe{
	background-color: #f4f4f4;
	color:#000;
	transition: all .35s;
}

.header__bugs-submenu-opened {
	background-color: #b6814f;
	color:#fff;
	transition: all .35s;
}	
	.header__bugs-submenu-closed {
		background-color: #f4f4f4;
		color:#000;
		transition: all .35s;
	}


.header__accessories-submenu-opened .header__accessories {
	background-color: #b6814f;
	color:#fff;
	transition: all .35s;
}	
	.header__accessories-submenu-closed {
		background-color: #f4f4f4;
		color:#000;
		transition: all .35s;
	}