@font-face {
	font-family: 'GothamPro';
	src: url("../../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../../assets/fonts/GothamProBold.otf");
}




input {
	border: none;
}

input:focus {
	outline:none;
}


input[type="checkbox"] {
	border: 1px solid black;
	background-color: transparent;
	border-radius: 0px;
}



body {
	margin:0px;
	
}
.header {
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 100;
	margin: 0;
	top:0;
}

	.header__wrapper {
		/*position: fixed;
		width: 100%;
		background-color: #fff;*/
	}
.header__replace {
	width: 100%;
	height: 245px;
	background-color: #fff;
}

.header__first-hat-layer {
	display: grid;
	grid-template-columns:96px 226px 164px 476px 150px 98px 70px;
	grid-template-rows: 125px;
}

	.header__first-hat-layer * {
		cursor: pointer;
	}



.header__main-menu-button {
	height: 93px;
	width: 93px;
	margin: 0px 3px 0px 0px;
}

	.header__burger {
		width: 35px;
		margin:34px 0px 0px 31px;
		overflow: hidden;
	}

	.header__burger-item {
		background-color: #000;
		width: 35px;
		height: 1px;
	}

	.header__burger-item:not(:nth-of-type(1)) {
		margin-top: 10px;
	}

	.header__dotted-burger {
		width: 35px;
		height: 23px;
		position: absolute;
		left: 31px;
		top: 34px;
		display: none;
	}
		
		.header__dotted-burger > * {
			display: flex;
			justify-content: space-between;
		}

		.header__dotted-burger > *:not(:first-child) {
			margin:10px 0px 0px 0px;
		}

		.header__dotted-burger > * > * {
			width: 1px;
			height: 1px;
			background-color: white;
		}


.header__number-element {
	width: 220px;
	height: 93px;
	margin: 0px 3px 0px 3px;
	transition: background-color .35s, color .35s;
}
	.header__pop-up-inscription {
		font-family: "Arial";
		font-size:12px;
		display: block;
		margin:10px 0px 0px 30px;
		opacity: 0;
		color:#888888;
	}

	.header__number {
		font-family: "GothamPro";
		font-size: 21px;
		display: block;
		color:#c19b77;
		margin:10px 0px 0px 30px;
	}




.header__city-element {
	width: 161px;
	height: 83px;
	margin:0px 0px 0px 3px;
	text-align: center;
	padding:10px 0px 0px 0px;
	transition: background-color .35s, color .35s;
}
	.header__city {
		font-family: "Arial";
		font-size:14px;
		color:#999999;
		border-bottom: 1px dotted #cccccc;
		padding:0px 0px 2px 0px;
	}

	.header__city-arrow {
		transform: rotate(90deg);
		opacity: 0;
	}

	.header__choose-city {
		display: block;
		width: 100px;
		opacity: 0;
		margin:0px 0px 8px 15px;
		font-family: "Arial";
		font-size: 13px;
		color:#888888;
	}

	.header__unknown-city{
		display: none;
	}


.header__logo-element {
	overflow:hidden;
	width: 300px;
	margin:0 auto;
	z-index: 70;
}
	
	.header__logo-image {
		height: 80px;
		overflow:hidden;
		text-align: center;
	}

	.header__full-logo {
		
	}

	.header__under-logo-city-wrapper {
		display: none;
	}

	.header__under-logo-choose-city {
		font-family: "Arial";
		font-size: 13px;
		color:#888888;
		opacity: 0;
	}

	.header__under-logo-city {
		font-family: "Arial";
		font-size: 14px;
		color:#999999;
		border-bottom: 1px dotted #999999;
		padding:0px 0px 2px 0px;
	}


.header__account-element {
	width: 147px;
	height: 93px;
	margin:0px 3px 0px 0px;
	transition: background-color .35s, color .35s;
}

	.header__account {
		font-family: "Arial";
		font-size: 14px;
		display: inline-block;
		margin:35px 0px 0px 30px;
		color:#999999;
		border-bottom:1px dotted #cccccc;
		padding: 0px 0px 2px 0px; 
	}

	.header__account-arrow {
		opacity: 0;
	}

	.header__account-image {
		display: none;
	}




.header__heart-element {
	width: 93px;
	height: 93px;
	margin:0px 3px 0px 3px;
	background-color: #fff;
	transition: background-color .35s;
}

	.header__heart-image {
		display: block;
		margin:32px 0px 0px 30px;

	}


.header__cart-element {
	right: 0;
	position: absolute;
	height: 93px;
	margin:0px 0px 0px 3px;
	padding-left: 5px;
	transition: all .35s;
	z-index: 12;
}

.header__cart-element-closed {
	width: 67px;
	background-color: #fff;
	color:#000;
	transition: all .35s;
}

	.header__cart-element img {
		filter:invert(0%);
		transition: filter .35s;
	}

	.header__cart-wrapper {
		display: flex;
		align-items: center;
		width: 70%;
		
	}

		.header__order-number {
			display: inline-block;
			font-family: "GothamPro";
			font-size: 21px;
			margin:30px 8px 0px 10px;
			vertical-align: top;
		}

		.header__cart-image {
			margin-top: 21px;
		}

		.header__cart-word {
			display: inline-block;
			font-family: "GothamPro";
			font-size: 21px;
			display: none;
			margin: 30px 0px 0px 20px;
			color:#fff;
		}

		.header__cart-close-icon {
			display: none;
			margin-left:auto;
			margin-top: 30px;
		}
	




.header__320-version-layer {
	display: none;
}

	.header__320-version-number {

	}

		.header__number-element {

		}

		.header__pop-up-inscription {

		}

		.header__number {

		}


	.header__320-version-city {

	}

		.header__under-logo-city-wrapper {

		}

			.header__under-logo-choose-city {

			}

			.header__under-logo-city{

			}

/*---------Category tabs-----------*/

.header__category-tabs {

}

	.header__gender-category-tabs {
		display: grid;
		grid-template-columns: 190px 190px 190px;
		grid-template-rows: 60px;
		justify-content: center;
	}

	.header__gender-category-tabs * {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "GothamProLight";
		font-size: 18px;
		cursor: pointer;
	}

	.header__gender-category-tabs *:not(:first-child):hover {
		color:#b6814f;
	}

		.header__female {
			background-color: #f4f4f4;
		}

	.header__product-tabs {
		background-color: #f4f4f4;
		height: 60px;
	}	
		.header__shoe {
			display: flex;
			text-align: center;
			width: 140px;
			height: 60px;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.header__product-tabs-wrapper {
			display: grid;
			grid-template-columns:190px 190px 190px;
			grid-template-rows: 60px;
			justify-content: center;
			font-family: "GothamProLight";
			font-size: 18px;
		}

		.header__product-tabs-wrapper * {
			
		}

		.header__bugs-element {
			display: block;
			width: 140px;
			height: 60px;
			margin:0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

			.header__bugs {
				
			}

		.header__accessories-element {
			
		}

			.header__accessories {
				display: block;
				width: 140px;
				height: 62px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}

	


/*---------Main overlay menu-----------*/

.main-menu {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 60;
	background-color: rgba(186,135,88,0.98);
	display: none;
	top:0;
}
	.main-menu a {
		color:#fff;
		text-decoration: none;
	}

	.close-icon {
		margin:34px 0px 0px 34px;
	}

	.main-menu__content-wrapper {
		display: grid;
		grid-template-columns: 320px 320px 320px;

		margin-top: 96px;
		justify-content: center;
	}

		.main-menu__first-column {

		}
			.main-menu__first-column-item {
				display: block;
				font-family: "GothamPro";
				font-size: 19px;
				color:#fff;

			}
			.main-menu__first-column-item:not(:nth-of-type(1)) {
				margin:35px 0px 0px 0px;
			}

			.main-menu__enter-your-cabinet {
				margin-top: 65px;
			}

			.main-menu__enter-your-cabinet > * {
				display: block;
			}



		.main-menu__second-column {
			display: flex;
			justify-content: center;
		}

			.main-menu__column-logo-wrapper {
				width: 110px;
				height: 110px;
				border: 1px solid #f6f0eb;
				border-radius: 55%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.main-menu__column-logo-wrapper img {
				-webkit-filter: invert(100%);
			}
			

		.main-menu__third-column {
			text-align: right;
		}

			.main-menu__third-column * {
				font-family: "GothamPro";
				font-size: 19px;
				color:#fff;
				display: block;
			}
			.main-menu__third-column > *:not(:first-child) {
				margin-top: 35px;
			}

			.main-menu__search-element {
				
			}

			.search-element {
				border:1px solid #fff;
				display: flex;
				align-items: center;
				height: 57px;
				width: 300px;
				margin-left:auto;
			}

				.main-menu__search * {
					display: inline-block;
				}

				.main-menu__magnifier {
					margin:0px 0px 0px 17px;
				}

				.main-menu__search {
					display: inline-block;
					background-color: #b98757;
					color:#FFFFFF;
					margin:0px 0px 0px 17px;
				}
				
				.main-menu__search::-webkit-input-placeholder {
					font-family: "GothamProLight";
					color: #fff;
				}



/*---------Search submenu-----------*/

.search-submenu {
	width: 478px;
	margin-left: auto;

}


	.search-submenu__search {
		position: absolute;
		top: 185px;
		left: 80%;
		display: flex;
		height: 60px;
		align-items: center;
	}

		.search-submenu__search-input {
			margin:0px 0px 0px 5px;
			border: none;
			background-color: #f4f4f4;
			height: 20px;
		}

		.search-submenu__magnifier-image {
			height: 20px;
		}

	
	.search-submenu li {
		list-style-type: none;
		margin: 0px;
	}
	.search-submenu ul {
		padding: 0px;
		margin:0px;
	}

	.search-submenu__main-part {
		border-left:1px solid #c3c3c3;
		border-right:1px solid #c3c3c3;
		border-bottom:1px solid #c3c3c3;
		padding: 5px 0px 0px 0px;
	}

		.search-submenu__row {
			width: 800px;
			margin:15px 0;

		}

			.search-submenu__row div ul li {
				cursor: pointer;
				
			}

			.search-submenu__row div ul li:not(:first-child) {
				margin:10px 0px;
			}

			

		.search-submenu__row > span{
			display: inline-block;
			vertical-align: top;
			width: 110px;
			text-align: right;
			font-family: "Arial";
			font-size: 12px;
			color:#999999;
		}

		.search-submenu__row > div{
			display: inline-block;
			font-family:"GothamPro";
			font-size: 14px;
			color:#000000;
			margin:0px 0px 0px 30px;
		}

		.search-submenu__product {
			
		}

			.search-submenu__product-element {

			}
				
				.search-submenu__product-image-element {
					display: inline-block;
					width: 110px;
					text-align: right;
				}

					.search-submenu__product-image {
						width: 50px;
						height: 50px;
					}

				.search-submenu__product-inf {
					display: inline-block;
					vertical-align: top;
					margin: 0px 0px 0px 32px;
					font-family: "GothamPro";
					font-size: 14px;
				}

					.search-submenu__product-price {
						margin-top: 10px;
						color:#999999;
					}

				.search-submenu__product-inf span {
					display: block;
				}

	.search-submenu__all-results-bar {
		display: flex;
		height: 50px;
		background-color: #c3c3c3;
		color:#fff;
		font-size: 16px;
		font-family: "GothamPro";
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	

.city-menu {
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	position: fixed;
	z-index: 60;
	display: none;
	top:0;
}

	.city-menu__content-wrapper {
		display: grid;
		grid-template-columns: 320px 320px 320px;
		grid-template-rows:110px;
		grid-row-gap: 20px; 
		justify-content: center;
		margin:80px 0px 0px 0px;
	}



		.city-menu__main-cities {
			font-family: "GothamPro";
			font-size: 19px;
		}
			.city-menu__main-cities > * {
				display: block;
			}
			.city-menu__main-cities > *:not(:first-child) {
				margin-top: 20px;
			}

		.city-menu__logo-element {
			margin:0 auto;
		}

			.city-menu__logo-wrapper {
				width: 110px;
				height: 110px;
				border: 1px solid #c7a686;
				border-radius: 55%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

		.city-menu__search-element {

		}

			.city-menu__search-wrapper {
				margin-top: 20px;
				border: 1px solid black;
			}

				.city-menu__magnifier {
					margin:0 15px;
				}

				.city-menu__search {
					background-color: #f5f5f5; 
				}
				.city-menu__search::-webkit-input-placeholder {
					font-family: "GothamProLight";
					color: #000;
					font-size: 16px;
					}

		.city-menu__cities-list {
			width: 960px;
			height: 390px;
			font-size: 16px;
			font-family: "GothamProLight";
			overflow-y: scroll;
			overflow-x: hidden;
		}

			.city-menu__cities-list {
				columns: 3;
			}

			.city-menu__cities-list > * {
				width: 320px;
			}

			.city-menu__cities-list > * > * {
				display: block;

			}
			.city-menu__cities-list > * > *:not(:first-child) {
				display: block;
				margin: 20px 0px 0px 0px;
			}

.account-menu {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 60;
	background-color: #f4f4f4;
	display: none;
	top:0;
}

	.account-menu__close-icon {
		margin-right:34px;
		float: right;
	}

	.account-menu__icon {
		margin:0 auto;
		margin-top: 140px;
		width: 110px;
		height: 110px;
		border: 1px solid #c7a686;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 55%;
	}
	.account-menu__text {
		font-family: "GothamPro";
		font-size: 19px;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.account-menu__text > * {
		display: block;
		text-align: center;
	}
		.account-menu_second-indent {
			margin-top: 25px;
			font-family: "GothamProLight";
		}
			.account-menu__recover {
				cursor: pointer;
				border-bottom:1px solid black;
			}

	.account-menu__form-element {
		width: 920px;
		margin:0 auto;
	}


		.account-menu__form {
			font-family: "GothamProLight";
			font-size: 16px;
		}

			.account-menu__email-wrapper {
				height: 58px;
				width: 318px;
				border: 1px solid black;
				display: inline-block;
				vertical-align: top;
			}

				.account-menu__email {
					margin: 22px 0px 0px 20px;
					background-color: #f4f4f4;
					font-family: "GothamProLight";
					font-size: 16px;
				}
				.account-menu__email::-webkit-input-placeholder {
					font-family: "GothamProLight";
					font-size: 16px;
				}
		
			.account-menu__password-wrapper {
				height: 58px;
				width: 318px;
				border: 1px solid black;
				display: inline-block;
				vertical-align: top;
				margin:0px 30px;
			}

				.account-menu__password {
					margin: 22px 0px 0px 20px;
					background-color: #f4f4f4;
					font-family: "GothamProLight";
					font-size: 16px;
				}

				.account-menu__password::-webkit-input-placeholder {
					font-family: "GothamProLight";
					font-size: 16px;
				}

			.account-menu__button {
				width: 200px;
				height: 60px;
				background-color: black;
				color:white;
				font-family: "GothamProLight";
				font-size: 16px;
			}

			.account-menu__form-element label {
				display: block;
				margin: 20px 0px 0px 0px;
			}

				.account-menu__checkbox {
					
				}



.cart-menu {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 150;
	background-color: #fff;
	display: none;
	bottom:0;
	height: calc(100% - 93px);
}


	.product-block {
		display: grid;
		grid-template-columns: 120px 320px 160px 160px 160px;
		justify-content: center;
		margin:40px 0px 0px 0px;
	}

		.product-block * {
			cursor: default;
		}

		.product-block:nth-of-type(1) {
			margin-top: 120px;
		}

		.product-block__image-element {
			width: 100px;
			height: 100px;
		}

			.product-block__image-element img {
				width: 100px;
				height: 100px;
			}

		.product-block__description-element * {
				display: block;
				font-family: "GothamProLight";
				font-size:14px;
		}

			.product-block__name {
				display: block;
				font-family: "GothamPro";
				font-size: 21px;
				margin:10px 0px 0px 0px;
				width: 250px;
			}

			.product-block__color {
				margin:5px 0px 0px 0px;
			}

			.product-block__size {
				margin:7px 0px 0px 0px;
			}

		.product-block__price-element {
			display: flex;
			margin:0px 0px 0px 20px;
			align-items: center;
			font-size: 16px;
			font-family: "GothamProLight";
			justify-content: space-between;
		}

			.product-block__price-element-cross {
				margin-right: 50px;
				cursor: pointer;
			}

		.product-block__quantity-element {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

			.product-block__quantity-input {
				border:1px solid #cccccc;
				width: 78px;
				height: 38px;
				text-align: right;
			}

			.product-block__equal-sign {
				color:#777777;
				margin:0px 37px 0px 0px;
			}
		

		.product-block__final-price-element {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

			.product-block__final-price {
				font-family: "GothamPro";
				font-size: 16px;


			}

			.product-block__close-icon-wrapper {
				width: 27px;
				height: 27px;
				border: 1px solid #6a6a6a;
				border-radius: 55%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}

				.product-block__close-icon {
					height: 11px;
					width: 11px;
					cursor: pointer;
				}



.final-bar {
	height: 60px;
	display: flex;
	justify-content: center;
	margin:60px 0px 0px 0px;
}

	.final-bar > * {
		display: inline-block;
	}

	.final-bar__result-element {
		width: 320px;
		cursor: default;
	}

		.final-bar__result {
			width: 160px;
			display: block;
			font-family: "Arial";
			font-size: 14px;
			color:#777777;
			margin:0px 0px 5px auto;
		}

		.final-bar__result-price {
			width: 160px;
			display: block;
			font-family: "GothamPro";
			font-size: 24px;
			margin:0px 0px 0px auto;
		}

	.final-bar__make-a-order-element {
		width: 300px;
	}

		.final-bar__make-a-order-button {
			width: 300px;
			height: 60px;
			background-color: #000;
			color:#fff;
			border:none;
			font-family: "GothamProLight";
			font-size: 16px;
			cursor: pointer;
		}

	.final-bar__keep-buing-element {
		width: 300px;
	}

		.final-bar__keep-buing-button {
			width: 300px;
			height: 60px;
			background-color: #eee;
			color:#777;
			border:none;
			font-family: "GothamProLight";
			font-size: 16px;
			margin:0px 0px 0px 20px;
			cursor: pointer;
		}


.header__shoe-submenu {
	width: 100%;
	height: 334px;
	position: absolute;
	top: 244px;
	background-color: #b6814f;
	font-family: "GothamPro";
	color:#fff;
	padding-top: 40px;
	left: 0;
	display: none;
	z-index: 5;
}

	.shoe-submenu__wrapper {
		display: grid;
		grid-template-columns: 160px 160px 160px 160px 320px;
		justify-content: center;
	}

		.shoe-submenu__kategory-column {
			
		}

			.shoe-submenu__element-wrapper {
				margin-bottom: 20px;
			}

				.shoe-submenu__element {
					border-bottom: 1px dotted #fff;
					cursor: pointer;
				}

				.shoe-submenu__new {
					width: 128px;
					border: 1px solid #cca784;
					height: 51px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					margin: 7px 0px 0px 0px;
				}

		.shoe-submenu__first-column {

		}

			.shoe-submenu__first-column-element-wrapper {
					margin: 0px 0px 20px 0px;
			}

				.shoe-submenu__first-column-element {
					cursor: pointer; 
				}

					.shoe-submenu__first-column-element:hover {
						border-bottom:1px solid #fff;
					}


		.shoe-submenu__second-column {

		}

			.shoe-submenu__second-column-element-wrapper {
					margin: 0px 0px 20px 0px;
			}

				.shoe-submenu__second-column-element {
					cursor: pointer; 
				}

					.shoe-submenu__second-column-element:hover {
						border-bottom:1px solid #fff;
					}

		.shoe-submenu__third-column {

		}

			.shoe-submenu__third-column-element-wrapper {
					margin: 0px 0px 20px 0px;
			}

				.shoe-submenu__third-column-element {
					cursor: pointer; 
				}

					.shoe-submenu__third-column-element:hover {
						border-bottom:1px solid #fff;
					}
		
		.shoe-submenu__brandes-column {

		}


			.shoe-submenu__headline {
				margin: 0;
			}

			.shoe-submenu__elements-wrapper {

			}

				.shoe-submenu__list {
					list-style-type: none;
					columns: 2;
					padding: 0;

				}

					.shoe-submenu__list li {
						display: block;
						width: 160px;
						margin-bottom: 25px;
						cursor: pointer;
					}
		.shoe-submenu__brandes-button {
			display: flex;
			width: 198px;
			border: 1px solid #cca784;
			align-items: center;
			justify-content: center;
			height: 51px;
			cursor: pointer;
		}

			.shoe-submenu__brandes-button img {
				margin-left: 14px;
			}


.header__bugs-submenu {
	width: 100%;
	height: 334px;
	background-color: #b6814f;
	position: absolute;
	top:244px;
	display: none;
	color:#fff;
	z-index: 5;
}

.header__accessories-element {
	

}

	.header__accessories {
		width: 140px;
		height: 63px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin:0 auto;
	}

	.header__accessories-submenu {
		width: 100%;
		height: 334px;
		background-color: #b6814f;
		position: absolute;
		top:245px;
		left: 0;
		display: none;
		color:#fff;
		z-index: 5;
	}

