@font-face {
	font-family: 'GothamPro';
	src: url("../../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../../assets/fonts/GothaProMed.otf");
}
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../../../slick/fonts/slick.eot');
    src: url('../../../slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../../slick/fonts/slick.woff') format('woff'), url('../../../slick/fonts/slick.ttf') format('truetype'), url('../../../slick/fonts/slick.svg#slick') format('svg');
}

body {
	overflow-x:hidden;
}




.lookbook_item {

}

	.lookbook_item__hat {
		background-image: url("../../../assets/images/lookbook-main-img.png");
		width: 100%;
		height: 300px;
		margin-top: 0px;
		overflow: hidden;
	}
		.lookbook_item__hat-wrapper {
			background-color:rgba(102,102,102,.8);
			height: 300px;
			text-align: center;
			padding-top: 90px;
		}
			.lookbook_item__dirrectory-headline {
				font-family: "GothamProLight";
				font-size: 14px;
				color:#ffffff;
				margin-bottom: 35px;
			}
			.lookbook_item__main-headline {
				font-family: "GothamProMedium";
				font-size: 30px;
				color:#fff;
				margin:0px 0px 35px 0px;
			}
			.lookbook_item__main-secondary-headline {
				font-family: "GothamProLight";
				font-size: 16px;
				color:#fff;
			}

	.lookbook_item__text-element {
		width: 80%;
		margin:0 auto;
	}
		.lookbook_item__paragraph {
			font-family: "GothamProLight";
			font-size: 15px;
			line-height: 25px;
		}
		.lookbook_item__common-headline {
			font-family: "GothamProBold";
			font-size: 22px;

		}

	.lookbook_item__catalog-slider {
		margin-top: 35px;
		width: 80%;
		margin: 0 auto;
<<<<<<< HEAD
        background-color: transparent;
        
	}
        .lookbook_item__catalog-slider {
        
        }


		.lookbook_item__catalog-slider-block-wrapper {
			position: relative;
            width: 33%;
           
		}
            .lookbook_item__catalog-slider-block-wrapper:hover {
-webkit-box-shadow: 0px 0px 5px 0px rgba(125,106,125,1);
            -moz-box-shadow: 0px 0px 5px 0px rgba(125,106,125,1);
            box-shadow: 0px 0px 5px 0px rgba(125,106,125,1);
            }

			.lookbook_item__catalog-slider-block {
               
			}
				.lookbook_item__vendor {
					
				}
				.lookbook_item__catalog-slider-block img {
                    display: block;
                    
					width: 80%;
                    margin-left: auto;
				}
				.lookbook_item__catalog-slider-block-wrapper {
					
                }
                    
                    .lookbook_item__catalog-slider-block-wrapper:hover {
                        
                    }

                    .lookbook_item__catalog-slider-block-wrapper:hover .lookbook_item__product-discription {
                        
                        
                    }


        			.lookbook_item__product-discription {
                       position: absolute;
                       z-index: 1555;
        			}
                        .lookbook_item__price {
                            display: block;
                            font-family: "GothamProLight";
                            font-size: 15px;
                            margin-top: 35px;
                            margin-bottom: 17px;
                        }
                        .lookbook_item__code {
                            font-family: "Arial";
                            font-size: 13px;
                            color:#777777;
                            margin-bottom: 15px;
                        }
                        .lookbook_item__sizes-list {
                            list-style-type: none;
                            color:#777;
                            font-size: 13px;
                            font-family: "Arial";
                            padding: 0;
                        }
                            .lookbook_item__sizes-list-item {
                                display: inline;
                            }

                        .lookbook_item__color-circles {
                            margin-bottom: 30px;
                        }
                            .lookbook_item__black-cirsle {
                                width: 22px;
                                height: 22px;
                                border-radius: 55%;
                                background-color: #000;
                                display: inline-block;
                            }
                            .lookbook_item__red-cirsle {
                                width: 22px;
                                height: 22px;
                                border-radius: 55%;
                                background-color: #936336;
                                display: inline-block;
                            }
                            .lookbook_item__white-cirsle {
                                width: 20px;
                                height: 20px;
                                border-radius: 55%;
                                background-color: #fff;
                                border:1px solid black;
                                display: inline-block;
                            }

        .lookbook_item__promo {
            width: 100%;
            background:url("../../../assets/images/dotted_texture.png");
            text-align: center;
            padding-top: 35px;
            height: 215px;
            z-index: -5;
        }
            .lookbook_item__promo-headline {
                font-family: "GothamProMedium";
                font-size: 20px;
                color:#b6814f;
                
                width: 80%;
                margin: 0 auto;
                margin-bottom: 55px;
                text-transform: uppercase;
            }
            .lookbook_item__promo-text {
                font-family: "GothamPro";
                font-size: 15px;
                color:#000;
                line-height: 30px;
                text-align: center;
                width: 80%;
                margin:0 auto;
            }

        .lookbook_item__products {
            width: 50%;
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 0 auto;
        }
            .lookbook_item__product {
                position: relative;
            }
                .lookbook_item__product-name {
                    position: absolute;
                    top:0;
                    left: 0;
                    background-color: transparent;
                }
                    .lookbook_item__product-name span {
                        display: inline-block;
                        transform: rotate(-90deg);
                        margin-top: 50%;
                        margin-bottom: 200%;
                        margin-left: calc(-100%/2 + 20px);
                        width: 100%;
                        font-family: "GothamPro";
                        font-size: 16px;
                        text-transform: uppercase;
                    }

                .lookbook_item__product-img {
                    display: block;
                    width: 80%;
                    margin-left: auto;
                }



        .lookbook_item__promo_2 {
            background:url("../../../assets/images/promo2bg.png");
            color:#fff;
            text-align: center;
            width: 80%;
            margin:0 auto;
            padding-top: 100px;
            padding-bottom: 100px;
        }
            .lookbook_item__promo_2-headline {
                font-family: "GothamProMedium";
                font-size: 20px;
                width: 85%;
                margin: 0 auto;
                margin-bottom: 35px;
            }
            .lookbook_item__promo_2-text {
                font-family: "GothamPro";
                font-size: 15px;
                width: 85%;
                margin:0 auto;
                line-height: 25px;
            }


        .lookbook_item__product-and-one-column-text {
            display: grid;
            grid-template-columns: 30% 70%;
            width: 80%;
            margin: 0 auto;
        }
            .lookbook_item__product-and-text_text {
               position: relative;
               line-height: 25px;
            }
                .lookbook_item__product-and-text_text div {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }  
                    .lookbook_item__product-and-text_text div h3 {
                        font-family: "GothamProBold";
                        font-size: 22px;
                    }
                    .lookbook_item__product-and-text_text div p {
                        font-family: "GothamProLight";
                        font-size: 15px;
                        line-height: 30px;
                    }


=======
	}
		.lookbook_item__catalog-slider-block-wrapper {
			margin-top: 105px !important;
			z-index: 10;
		}
			.lookbook_item__catalog-slider-block {

			}
				.lookbook_item__vendor {
					display: inline-block;
					transform: rotate(270deg);
					font-family: "GothamPro";
					font-size: 16px;
				}
				.lookbook_item__catalog-slider-block img {
					display: inline-block;
					margin: 0 auto !important;
				}
				.lookbook_item__catalog-slider-block-wrapper:hover  {
					background-color:red;				}

			.lookbook_item__product-discription {
				display: none;
			}
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a


		.slick-dots {
			position: absolute;
			top:0;
			margin-bottom: 15px;
		}

<<<<<<< HEAD
    .lookbook_item__two-column-text {
        width: 80%;
        margin: 0 auto;
    }
        .lookbook_item__two-column-text h2 {
            font-size: 22px;
            font-family: "GothamProBold";
        }

        .lookbook_item__two-column-text-wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
        }
            .lookbook_item__first-column {
                
            }
                .lookbook_item__first-column h3 {
                    font-size: 20px;
                    font-family: "GothamProMedium";
                }
                .lookbook_item__first-column p {
                    font-size: 15px;
                    font-family: "GothamProLight";
                    line-height: 25px;
                }
            .lookbook_item__second-column {

            }
                .lookbook_item__second-column h4 {
                    font-family: "GothamPro";
                    font-size: 18px;
                    color:#b6814f;
                }
                .lookbook_item__second-column p {
                    font-size: 15px;
                    font-family: "GothamProLight";
                    line-height: 25px;
                }


    .lookbook_item__left-side-img-slider {
        width: 80%;
        margin: 0 auto;
    }
        .lookbook_item__left-side-img-slider-wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
        }
            .lookbook_item__left-side-img-slider {

            }
                .lookbook_item__left-side-img-slider div {
                    width: 100%;
                }
                .lookbook_item__left-side-img-slider div img {
                    width: 100%;
                }
                .lookbook_item__left-side-img-slider .slick-dots {
                    display: inline-block;
                    right: -100%;
                    text-align: left;
                    top:80px;
                }


        .lookbook_item__left-slider-text {
            padding-top: 100px;
        }
            .lookbook_item__left-slider-text h4 {
                font-size: 20px;
                font-family: "GothamProMedium";
                color:#b6814f;
            }
            .lookbook_item__left-slider-text p {
                font-size: 15px;
                font-family: "GothamProLight";
                line-height: 25px;
            }



    .lookbook_item__right-side-img-slider {
        width: 80%;
        margin: 0 auto;
    }
        .lookbook_item__right-side-img-slider-wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
        }  
            .lookbook_item__right-slider-text {
                padding-top: 70px;
            }
                .lookbook_item__right-slider-text h4 {
                    font-size: 20px;
                    font-family: "GothamProMedium";
                }
                .lookbook_item__right-slider-text p {
                    font-size: 15px;
                    font-family: "GothamProLight";
                    line-height: 25px;
                }

            .lookbook_item__right-slider {

            }
                .lookbook_item__right-side-img-slider div {
                    width: 100%;
                }
                .lookbook_item__right-side-img-slider div img {
                    width: 100%;
                }
                .lookbook_item__right-side-img-slider .slick-dots {
                    display: inline-block;
                    left: -100%;
                    text-align: right;
                    top:calc(100% - 55px);
                }

    .lookbook_item__single-img {
        width: 80%;
        margin:0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
        .lookbook_item__img-block {
            width: 100%;
        }
            .lookbook_item__img-block img {
                width: 100%;
            }

        .lookbook_item__single-img div {
            position: relative;
        }
            .lookbook_item__single-img-text-block {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 95%;
                margin:0 auto;
            }
                .lookbook_item__single-img-text-block h3 {
                    font-family: "GothamProMedium";
                    font-size: 20px;
                }
                .lookbook_item__single-img-text-block p {
                    line-height: 25px;
                    font-family: "GothamProLight";
                    font-size: 15px;
                }


    .lookbook_item__left-comment {
        width: 80%;
        margin:0 auto;
        display: grid;
        grid-template-columns: 32.6% 67.4%;
    }
        .lookbook_item__comment-text-block {
            padding:30px;
        }
            .lookbook_item__comment {
                width: 70%;
                display: block;
                margin-left: auto;
                font-family: "Arial";
                font-size: 12px;
                color:#777777;
                text-align: right;
                margin-bottom: 20px;
            }

        .lookbook_item__comment-img-block {

        }
            .lookbook_item__comment-block-img {
                width: 100%;
            }


    .lookbook_item__right-comment {
        width: 80%;
        margin:0 auto;
        display: grid;
        grid-template-columns: 83.6% 16.3%;

    }
        .lookbook_item__r-img-block {
            
        }
            .lookbook_item__r-img-block img {
                width: 100%;
            }

        .lookbook_item__r-comment-block {
            padding: 30px;
        }
            .lookbook_item__r-comment {
                display: block;
                width: 80%;
                font-family: "Arial";
                font-size: 12px;
                color:#777777;
                margin-bottom: 20px;
            }
=======

>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a






/*////////////////////////////////////////////////////////////////////////////////////*/
<<<<<<< HEAD
=======
.slick-slide {
	width: 33%;
	background-color:transparent;
}
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    padding-top: 50px;
=======
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    position: absolute;
    z-index: 10;
    top:50%;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 55%;
    color:#fff;
    background-color: rgba(5,4,4,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.slick-next {
    position: absolute;
    z-index: 10;
    top:50%;
    right: 0;
    width: 42px;
    height: 42px;
    border-radius: 55%;
    color:#fff;
    background-color: rgba(5,4,4,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.ubout-us__slider {
    text-align: center;
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-slide {
    outline: none;
<<<<<<< HEAD
    margin: 20px;
}

=======
    height: 500px;
}
    .slick-slide img {
        margin: 20px 10px 0px 10px;
    }
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a

.slide-clone {
   
    height: 500px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
<<<<<<< HEAD
    margin-bottom: 50px;
    height: 30px;
=======
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

<<<<<<< HEAD
    width: 20px;
    height: 20px;
=======
    width: 13px;
    height: 13px;
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    border: 2px solid #9d7148;
    opacity: 1;
    border-radius: 55%;
    color:#9d7148;
}
