@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}

@font-face {
	font-family: 'GothamProLightItalic';
	src: url("../../assets/fonts/GothamPro-LightItalic.ttf");
}
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../../slick/fonts/slick.eot');
    src: url('../../slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../slick/fonts/slick.woff') format('woff'), url('../../slick/fonts/slick.ttf') format('truetype'), url('../../slick/fonts/slick.svg#slick') format('svg');
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../../slick/fonts/slick.eot');
    src: url('../../slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../slick/fonts/slick.woff') format('woff'), url('../../slick/fonts/slick.ttf') format('truetype'), url('../../slick/fonts/slick.svg#slick') format('svg');
}


.about-us {
	width: 95%;
	margin: 0 auto;
}
	.about-us__greeting {
		width: 100%;
		text-align: center;
		margin: 70px 0px 15px 0px;
	}
		.about-us__greet-headline {
			font-size: 30px;
			font-family: "GothamProMedium";
			color:#000;
		}
		.about-us__dash {
			display: inline-block;
			height: 1px;
			width: 30px;
			background-color: #000;
		}
		.about-us__greet-text {
			font-family: "GothamProLight";
			font-size: 18px;
			color:#000;
			line-height: 25px;
			display: block;
			width: 40%;
			margin: 15px auto;
		}

	.about-us__main-photos-block {
		width: 100%;
	}
		.about-us__main-photo-block {
			width: 100%;
		}
			.about-us__main-photo {
				width: 100%;
			}

		.about-us__sub-photos {
			width: 100%;
			margin: 15px 0px 0px 0px;
			display: grid;
			grid-template-columns: 33% 33% 33%;
		}
			.about-us__sub-photos > div {
			}
				.about-us__sub-photos > * {
					margin-left: 20px;
				}
				.about-us__sub-photos > div img {
					width: 100%;
				}


	.about-us__article-block {
		width: 70%;
		display: grid;
		grid-template-columns: 50% 50%;
		margin:70px auto;
	}
		.about-us__headline-block {
			
		}
			.about-us__headline-block h4 {
				font-size: 55px;
				font-family: "GothamProLight";
				white-space: normal;
				margin: 0;
			}

		.about-us__text-block {

		}
			.about-us__text-block p {
				font-family: "GothamProLight";
				font-size: 18px;
				color:#000;
				text-align:left;
			}


	.about-us__horisontal-article-block {
		width: 70%;
		margin: 70px auto;
		display: grid;
		grid-template-columns: 50% 50%;
	}
		.about-us__text-block {

		}
			.about-us__text-block h5 {
				font-family: "GothamProBold";
				font-size: 22px;
				color:#000;
				margin-bottom:30px;
				width: 330px;
			}
			.about-us__text-block p {
				line-height: 30px;
				font-family: "GothamProLight";
				font-size: 15px;
				display: block;
				width: 470px;
			}
			.about-us__text-block span {
				display: inline-block;
				font-family: "GothamProMedium";
				font-size: 17px;
				text-transform: uppercase;
			}
			.about-us__text-block a {
				display: inline-block;
				font-size: 15px;
				font-family: "GothamProLight";
				text-decoration: none;
				border-bottom: 1px solid black;
				color:#000;
				padding-bottom: 5px;
				text-transform: none;
				margin-left: 30px;
			}

		.about-us__image-block {

		}
			.about-us__image-block-slider {
				width: 100%;
				height: auto;
			}
				.about-us__image-block-slider img {
					width: 100%;
					margin: 0;
					height: 500px;
				}


	.about_us__img-with-label {
		width: 100%;
		position: relative;
	}
		.about_us__img {
			width: 100%;
			height: 100%;
		}
		.about_us__label {
			position: absolute;
			bottom: 55px;
			right: 0px;
			background-color: #fff;
			padding: 50px;
			text-align: justify;
			font-family: "GothamProLightItalic";
			color:#000;
			width: 660px;
			line-height: 30px;
			font-size: 21px;
		}
			.about_us__label-text {

			}

	.about_us__dolce-vita {
		background-image: url("../../assets/images/dotted_texture.png");
		height: 260px;
		width: 100%;
		background-repeat: repeat-x;
		padding-top: 60px;
		margin-bottom: 100px;
	}
		.about_us__dolce-vita-text {
			font-size: 24px;
			font-family: "GothamProMedium";
			color:#000;
			display: block;
			width: 980px;
			line-height: 50px;
			margin: 0 auto;

			text-align: center;
		}

	hr {
		width: 70%;

	}

	.about-us__headline {
		background-color: #fff;
		margin: 0 auto;
		margin-top: -23px;
		text-align: center;
		margin-bottom: 25px;
		font-size: 26px;
		font-family: "GothamPro";
		text-transform: uppercase;
		color:#010000;
		width: 200px;
	}

	.index__instagram {
		width: 934px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

		.index__first-instagram-block {
			width: 48%;
			text-align: center;
		}

			.index__instagram-headline {
				font-size: 14px;
				font-family: "GothamProLight";
				margin: 20px 0px 30px 0px;
			}

			.index__image-block {
				width: 198px;
				height: 198px;
				border: 1px solid #d3d3d3;
				display: inline-block;
				margin:10px;
				vertical-align: top;
				overflow:hidden;
				position: relative;
				cursor: pointer;
			}

				.index__wrapper {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}

					.index__instagram-image {
						margin:0 auto;
					}

					.index__activity-bar {
						width: 100%;
						z-index:2;
						position: absolute;
						color:#fff;
						font-family: "GothamPro";
						font-size:14px;
						top: 45%;
						text-align: center;
						opacity: 0;
					}

		.index__image-block_opened {
			border-top: 41px solid #999999;
			border-bottom: 41px solid #999999;
			height: 118px;
			transition: all .35s;
		}

			.index__image-block_opened .index__activity-bar {
				opacity: 1;
				transition: all .35s;
			}

		.index__image-block_closed {
			transition: all .35s;
		}







<<<<<<< HEAD



=======
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    position: absolute;
    z-index: 10;
    top:50%;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 55%;
    color:#fff;
    background-color: rgba(5,4,4,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.slick-next {
    position: absolute;
    z-index: 10;
    top:50%;
    right: 0;
    width: 42px;
    height: 42px;
    border-radius: 55%;
    color:#fff;
    background-color: rgba(5,4,4,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.ubout-us__slider {
    text-align: center;
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-slide {
    outline: none;
    height: 500px;
}
    .slick-slide img {
        margin: 20px 10px 0px 10px;
    }

.slide-clone {
   
    height: 500px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    border: 2px solid #9d7148;
    opacity: 1;
    border-radius: 55%;
    color:#9d7148;
}
<<<<<<< HEAD
.arrow1 {
	display: none;
}
=======
>>>>>>> 529ea7c5fa47f0e3bc3ce4708b19ebe0954d244a
