

@media screen and (min-width: 1280px) {
	

	.first-footer {

		
	}

		.first-footer__wrapper {
			width:1280px;

		}


}




@media screen and (max-width: 1280px) {

	.first-footer {
		
	}
		.first-footer__wrapper-full {
			grid-template-columns: 27% 50% 22%;
		}

			.first-footer__first-column {

			}

				.first-footer__card-image {
					margin:0px 0px 0px 5px;
					width: 80%;
					left: 0;
				}

			.first-footer__second-column {
				
			}

				.first-footer__header {

				}

					.first-footer__logo-wrapper {
						
					}

						.first-footer__logo {

						}

					.first-footer__headline {
						
					}

				.first-footer__blocks {
					margin: 0 auto;
					font-size: 15px;
					width: 96%;
				}

					.first-footer__first-block {
						font-size: 15px;
					}

						.first-footer__first-button {
							width: 134px;
						}

					.first-footer__second-block {
						font-size: 15px;

					}

						.first-footer__second-button {
							width: 134px;
						}

			.first-footer__third-column {

			}

				.first-footer__phone-image {
					width: 60%;
				}


}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 640px) {
	
.first-footer {
	
}

	.first-footer__externall-wrapper {
		display: none;	
	}

	.first-footer__externall-wrapper_short {
		display: block;
	}

.last-footer {

}
	.last-footer__links-layer {
		
	}
		.last-footer__links {
			flex-direction: column;
		}

			.last-footer__links li {
				columns: 2;
			}

				.last-footer__links li a {
					

				}
		.last-footer__pay-ways {
			
		}
			.last-footer__pay-ways a {
				text-align: center;
			}
			.last-footer__pay-ways img {
				width: 50%;
			}
		.last-footer__bottom-layer {
			flex-direction: column;
			text-align: center;
		}
			.last-footer__bottom-layer * {
				margin: 0;
				margin-bottom: 25px;

			}
}

@media screen and (max-width: 320px) {

}