/*

.first-footer {
	width: 100%;
	height: 492px;
	background-color: #c19b77;
	position: relative;
}
	.first-footer__wrapper {
		
	}
		.first-footer__headline-element {
			text-align: center;
		}
			.first-footer__logo-container {

			}

		.first-footer__lower-layer {
			display: grid;
			grid-template-columns: 32% 45% 22%;
			grid-template-rows: 270px;
			margin-top: ;
		}*/



.first-footer {
	width: 100%;
	height: 492px;
	background-color: #c19b77;
	
}

	.first-footer__externall-wrapper {
		
	}

		.first-footer__wrapper-full {
			height: 100%;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 27% 45% 27%;
		}

			.first-footer__first-column {
				position: relative;
			}

				.first-footer__card-image {
					margin:0px 0px 0px 20px;
					box-shadow: 0px 3px 10px;
					border-radius: 10px;
					position: absolute;
					bottom: 100px;
					right: 20px;
				}


			.first-footer__second-column {
				
			}

				.first-footer__header {
					text-align: center;
					margin:0px 0px 60px 0px;
				}

					.first-footer__logo-wrapper {
						margin:50px auto;
						margin-bottom: 0px;
						width: 110px;
						height: 110px;
						display: flex;
						align-items: center;
						justify-content: center;
						border:1px solid #000;
						border-radius: 55%;
					}

						.first-footer__logo {

						}

					.first-footer__headline {
						font-size: 26px;
						font-family: "GothamPro";
						text-transform: uppercase;
						display: block;
					}

				.first-footer__blocks {
					width: 100%;
					display: flex;
					justify-content: space-between;
				}

					.first-footer__first-block {
						text-align: right;
						margin-right: auto;
						font-family: "GothamPro";
						font-size: 18px;
						width: 40%;
						position: relative;
						height: 156px;
					}

						.first-footer__first-button {
							display: block;
							margin: 33px 0px 0px auto;
							width: 144px;
							height: 56px;
							font-family: "Arial";
							font-size: 16px;
							border: none;
							position: absolute;
							right:0;
							bottom: 0;
						}

					.first-footer__second-block {
						text-align: left;
						font-family: "GothamPro";
						font-size: 18px;
						width: 40%;
						position: relative;
						height: 156px;

					}

						.first-footer__second-button {
							display: block;
							width: 144px;
							height: 56px;
							font-family: "Arial";
							font-size: 16px;
							border: none;
							margin:33px 0px 0px 0px;
							position: absolute;
							left:0;
							bottom: 0;
						}

			.first-footer__third-column {
				position: relative;
			}

				.first-footer__phone-image {
					margin: 20% 0px 0px 10%;
					border-radius: 2%;
					box-shadow: 0 13px 10px -10px rgba(0, 0, 0, .5);
					position: absolute;
					bottom: 50px;
					left: 20px;
				}

		.first-footer__wrapper_short {
			
		}
			.first-footer__headline_short {

			}




	.first-footer__externall-wrapper_short {
		display: none;
	}
		.first-footer__headline {
			text-align: center;
		}

		.first-footer__wrapper_short {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows:167px 167px;
		}
			.first-footer__card-element {
				
			}
				.first-footer__card-element img {
					width: 80%;
					margin:0px 15px 15px 15px;
				}
			.first-footer__first-block-element {
				text-align: right;
				position: relative;
				padding:0px 10px 10px 10px;
				text-align: right;
				font-family: "GothamPro";
				font-size: 15px;
			}
				.first-footer__first-block-element button {
					display: block;
					width: 144px;
					height: 56px;
					font-family: "Arial";
					font-size: 16px;
					border: none;
					margin:33px 0px 0px 0px;
					position: absolute;
					right: 5px;
					bottom: 0;
				}

			.first-footer__second-block-element {
				text-align: right;
				position: relative;
				padding:0px 10px 10px 10px;
				text-align: left;
				font-family: "GothamPro";
				font-size: 15px;
			}
				.first-footer__second-block-element button {
					display: block;
					width: 144px;
					height: 56px;
					font-family: "Arial";
					font-size: 16px;
					border: none;
					margin:33px 0px 0px 0px;
					position: absolute;
					left: 5px;
					bottom: 0;
				}

			.first-footer__phone-element {

			}
				.first-footer__phone-element img {
					margin:5px 40px;
					width: 40%;
				}





.last-footer {
	width: 100%;
	height: 302px;
}
	.last-footer__links-layer {
		width: 100%;
		
	}
		.last-footer__links {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0;
			list-style-type: none;
			margin: 45px 0px 0px 0px;
		}

			.last-footer__links li {
				text-align: center;
			}

				.last-footer__links li a {
					color:#000;
					display: block;
					font-size: 16px;
					font-family: "Arial";
					text-decoration: none;
					cursor: pointer;

				}

					.last-footer__links > li > a:last-child {
						margin: 25px 0px 0px 0px;
					}

	.last-footer__pay-ways-headline {
		display: block;
		text-align: center;
		margin: 55px 0px 25px 0px;
		font-size: 13px;
		font-family: "Arial";
		color:#999999;
	}

	.last-footer__pay-ways {
		display: flex;
		justify-content: space-around;
		margin: 0px 0px 33px 0px;
	}

	.last-footer__bottom-layer {
		border-top:1px solid #dcdcdb;
		height: 63px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

		.last-footer__1 {
			font-size: 14px;
			font-family: "Arial";
			color:#999999;
			margin: 0px 0px 0px 10px;
		}
		.last-footer__2 {
			font-size: 14px;
			font-family: "Arial";
			color:#000;
			border-bottom: 1px solid #999999;
			text-decoration: none;
			margin: 0px 80px 0px 0px;
		}
		.last-footer__3 {
			font-size: 14px;
			font-family: "Arial";
			color:#999999;
			margin: 0px 10px 0px 0px;
		}