@font-face {
	font-family: 'GothamPro';
	src: url("../../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../../assets/fonts/GothaProMed.otf");
}
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../../../slick/fonts/slick.eot');
    src: url('../../../slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../../slick/fonts/slick.woff') format('woff'), url('../../../slick/fonts/slick.ttf') format('truetype'), url('../../../slick/fonts/slick.svg#slick') format('svg');
}

.item {
	width: 100%;
	padding-top: 30px;
}
	.item__main-wrapper {
		display: grid;
		grid-template-columns: 15% 85%;
	}
		.item__menu-block {

		}
			.item__menu-list {
				list-style-type: none;
				padding:0px 0px 0px 5px;
				margin: 0;
			}
				.item__menu-list-item {

				}
					.item__menu-list-item div {
						display: inline-block;
						height: 100%;
						vertical-align: top;
						padding-top: 7px;
					}
						.item__menu-list-item div img {
							transform: rotate(180deg);
							vertical-align: top;
						}
					.item__menu-list-item span {
						display: inline-block;
						width: 80%;
						font-size: 12px;
						font-family: "Arial";
						color: #999999;
						cursor: pointer;
					}
						.item__menu-list-item span:hover {
							color:#b6814f;
						}

					.item__menu-list-item-main {
						font-size: 12px;
						font-family: "Arial";
						color:#999;
						cursor: pointer;
					}
						.item__menu-list-item-main:hover {
							color:#b6814f;
						}

		.item__main-block {

		}
			.item__headline-block {
				
			}
				.item__headline {
					color:#000;
					font-size: 30px;
					font-family: "GothamProMedium";
					margin-top: 0px;
					display: inline-block;
				}
				.item__headline-block img {
					display: inline-block;
					margin-left: 15px;
					cursor: pointer;
				}

			.item__under-wrapper {
				display: grid;
				grid-template-columns: 60% 40%;
			}
				.item__first-column {
					display: grid;
					grid-template-columns: 150px calc(100% - 150px);
				}
					.item__vert-slider {
						padding-top: 40px;
					}
						.item__vert-slider div {

						}
							.item__vert-slider div img {

							}
					
					.item__main-img-block {
						position: relative;
					}
						.item__main-img-wrapper {

						}
							.item__main-img-wrapper div {
								width: 100%;
							}
								.item__main-img-wrapper div img {
									width: 100%;
								}

						.item__notes {
							position: absolute;
							top:10px;
							width: 100%;
							z-index: 50;
							width: 150px;
							right:10px;
						}
							.item__notes div {
								display: inline-block;
							}
							.item__new {
								background-color: #000;
								color:#fff;
								font-family: "GothamPro";
								font-size: 13px;
								padding:5px;
							}
							.item__action {
								background-color: #000;
								color:#fff;
								font-family: "GothamPro";
								font-size: 13px;
								padding:5px;
							}


				.item__information-block {

				}
					.item__cost-and-code {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 30px;
					}
						.item__code-block {
							display: inline-block;
						}
							.item__code-word {
								font-size: 13px;
								font-family: "Arial";
								color: #999999;
								margin-right: 5px;
								display: inline-block;
							}
							.item__code {
								display: inline-block;
								font-family: "Arial";
								font-size: 13px;
								color: #666666;
								text-transform: uppercase;
							}
						.item__cost {
							display: inline-block;
							margin-right: 25px;
							font-size: 24px;
							font-family: "GothamProLight";
						}


					.item__colors-block {
						margin-bottom: 30px;
					}
						.item__colors-word {
							font-family: "Arial";
							font-size: 13px;
							color:#999;
							display: block;
							margin-bottom: 15px;
						}

						.item__color-wrapper_black {
							display: inline-block;
							margin-right: 15px;
						}
							.item__color-circle_black {
								width: 44px;
								height: 44px;
								border-radius: 55%;
								background-color: black;
								display: block;
								margin:0 auto;
							}
							.item__color-word_black {
								font-size: 12px;
								font-family: "Arial";
								color:#999;
							}


						.item__color-wrapper_red {
							display: inline-block;
							margin-right: 15px;
						}
							.item__color-circle_red {
								width: 44px;
								height: 44px;
								border-radius: 55%;
								background-color: #936336;
								display: block;
								margin:0 auto;
							}
							.item__color-word_red {
								font-size: 12px;
								font-family: "Arial";
								color:#999;
							}


						.item__color-wrapper_white {
							display: inline-block;
							margin-right: 15px;
						}
							.item__color-circle_white {
								width: 42px;
								height: 42px;
								border-radius: 55%;
								background-color: #fff;
								border: 1px solid black;
								display: block;
								margin:0 auto;
							}
							.item__color-word_white {
								font-size: 12px;
								font-family: "Arial";
								color:#999;
							}



					.item__size-block {
						width: 300px;
						margin-bottom: 10px;
						
					}
						.item__size-headlines {
							width: 100%;
							display: flex;
							justify-content: space-between;
							font-family: "Arial";
							color: #999999;
							font-size: 13px;
						}
							.item__size-headlines > *:last-child {
								border-bottom: 1px dotted #999;
							}

						.item__sizes {
							
							width: 300px;
							margin-top: 20px;
						}
							.item__size {
								display: inline-block;
								margin-left: 6px;
								margin-bottom: 5px;
								cursor: pointer;

							}
								.item__size:hover .item__size-number {
									border-color: #b88454;
									color:#b88454;
								}
								.item__size:hover .item__preorder {
									opacity: 1;
								}
								.item__size-number {
									width: 63px;
									height: 23px;
									border: 1px solid #ccc;
									display: block;
									display: flex;
									justify-content: center;
									align-items: center;
									font-family: "Arial";
									font-size: 13px;
								}
								.item__preorder {
									font-size: 11px;
									font-family: "Arial";
									color:#666666;
									display: block;
									text-align: center;
									opacity: 0;
								}

							.item__order-button-block {
								margin-top: 10px;
								width: 300px;
							}
								.item__order-button {
									background-color: #000;
									color:#fff;
									font-family: "GothamPro";
									font-size: 15px;
									width: 100%;
									height: 60px;
									border:none;
									cursor: pointer;
								}



					.item__description-block {
						margin-top: 30px;
					}
						.item__description-point {
							margin-bottom: 20px;
						}
							.item__element {
								display: block;
							}


						.item__delivery-inf {
							
						}
							.item__delivery-inf .item__first {
								color: #b88454;
								font-size: 14px;
								font-family: "GothamPro";
								display: block;
								text-decoration: underline #e6ded7;
							}
							.item__delivery-inf .item__second {
								font-size: 12px;
								font-family: "Arial";
								color:#888888;
								display: block;
							}

						.item__payway {

						}
							.item__payway .item__first {
								color: #b88454;
								text-decoration: underline #e6ded7;
								font-size: 14px;
								font-family: "GothamPro";
							}

						.item__main-material {

						}
							.item__main-material .item__first {
								display: block;
								font-size: 12px;
								color:#888888;
								font-family: "Arial";
							}
							.item__main-material .item__second {
								font-family: "GothamPro";
								font-size: 14px;
								color:#555555;
								text-transform: uppercase;
								margin-top: 3px;
							}

						.item__addmaterial {

						}
							.item__addmaterial .item__first {
								display: block;
								font-size: 12px;
								color:#888888;
								font-family: "Arial";
							}
							.item__addmaterial .item__second {
								font-family: "GothamPro";
								font-size: 14px;
								color:#555555;
								text-transform: uppercase;
								margin-top: 3px;
							}

						.item__lining {

						}
							.item__lining .item__first {
								display: block;
								font-size: 12px;
								color:#888888;
								font-family: "Arial";
							}
							.item__lining .item__second {
								font-family: "GothamPro";
								font-size: 14px;
								color:#555555;
								text-transform: uppercase;
								margin-top: 3px;
							}

						.item__heel {

						}
							.item__heel .item__first {
								display: block;
								font-size: 12px;
								color:#888888;
								font-family: "Arial";
							}
							.item__heel .item__second {
								font-family: "GothamPro";
								font-size: 14px;
								color:#555555;
								text-transform: uppercase;
								margin-top: 3px;
							}

						.item__other {

						}
							.item__closing-blocks-text {
								font-size: 12px;
								font-family: "GothamPro";
								color:#000;
								display: inline-block;
								text-decoration: underline #828282;
							}
							.item__open {
								width: 19px;
								height: 19px;
								vertical-align: middle;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								font-family: 20px;
								color:#828282;
								border-radius: 55%;
								border: 1px solid #828282;
								cursor: pointer;
							}
						

					.item__also-block {
						margin-top: 45px;
						text-align: left;

					}
						.item__line {
							border-top: 1px dotted #888;
							color:transparent;
							width: 300px;
							margin-left: 0 !important;
							margin-right: 0 !important;
						}
						.item__also-word {
							margin-top: -18px;
							background-color: #fff;
							width: 230px;
							font-family: "Arial";
							font-size: 12px;
							color:#888888;
							text-transform: lowercase;
						}
						.item__also-item {
							width: 300px;
						}
							.item__also-item-name {
								font-size: 14px;
								font-family: "GothamPro";
								color:#555555;
								text-transform: uppercase;
							}
							.item__also-item-wrapper {
								display: grid;
								grid-template-columns: 50% 50%;
							}
								.item__also-item-img-column {

								}
								.item__also-item-description {

								}
									.item__code-block {

									}
										.item__code-word {

										}
										.item__code {

										}

									.item__also-item-material {
										margin: 15px 0px 25px 0px;
										color:#000;
										font-family: "Arial";
										font-size: 12px;
										width: 80%;
									}
									.item__also-item-cost {
										font-size: 15px;
										font-family: "GothamProLight";
										color:#000;
									}
									.item__also-item-add-block {

									}
										.item__also-item-add {
											width: 100%;
											color:#999999;
											font-family: "GothamPro";
											font-size: 15px;
											height: 41px;
											border: 1px solid #999;
											background-color: #fff;
											text-transform: uppercase;
											margin-top: 13px;
											cursor: pointer;
										}


						.item__summ-block {
							width: 300px;
							margin-top: 30px;
						}
							.item__summ-headline-block {
								
							}
								.item__summ-headline {
									display: block;
									margin-left: auto;
									margin-top: -17px;
									width: 95px;
									margin-bottom: 5px;
									background-color: #fff;
									font-size: 12px;
									font-family: "Arial";
									color:#888888;
								}

							.item__summ {
								width: 300px;
								text-align: right;
							}
								.item__summ > span {
									font-size: 15px;
									font-family: "Arial";
									color:#666666;
								}
									.item__real-cost {
										text-decoration: line-through;
									}

							.item__final-cost-block {
								width: 300px;
								text-align: right;
								font-size: 24px;
								font-family: "GothamPro";
							}
								.item__final-cost {
									
								}

							.item__summ-buy-button {
								display: block;
								width: 133px;
								height: 43px;
								background-color: #000;
								color:#fff;
								cursor: pointer;
								font-size: 15px;
								font-family: "GothamPro";
								border: none;
								margin-left: auto;
								margin-top: 10px;	
							}


					.item__similiar-block {
						width: 65%;
						margin: 30px auto;
					}
						.item__similiar-headline {
							font-size: 22px;
							font-family: "GothamProBold";
							text-transform: uppercase;
							text-align: center;
							margin-bottom: 100px;
						}
						.item__similiar-wrapper {

						}
							.item__similiar-item {
								position: relative;
								width: 33%;

							}
								.item__similiar-item-img {
									width: 100%;
								}
								.item__similiar-item-name {
									font-family: "GothamPro";
									font-size:16px;
									margin: 10px 0px;
								}
								.item__similiar-item-cost {

								}
									.item__similiar-item-action-cost {
										display: inline-block;
										padding:5px;
										font-size: 15px;
										font-family: "GothamProLight";
										color:#fff;
										background-color: #000;
									}
									.item__similiar-item-actual-cost {
										font-family: "GothamProLight";
										font-size: 15px;
									}



/* Slider */

.arrow {
	display: none;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
	
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    min-height: 1px;
    margin: 0;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide div
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    position: absolute;
    z-index: 10;
    bottom:63%;
    left: 60px;
    width: 20px;
    height: 20px;
    border-radius: 55%;
    color:#fff;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.slick-next {
    position: absolute;
    z-index: 10;
    top:0;
    left:60px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 55%;
    color:#fff;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.ubout-us__slider {
    text-align: center;
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-slide {
    outline: none;
    display: block;
}
    .slick-slide img {
       	
    }

.slide-clone {
   
    height: 500px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;
    top:-80px;
    height: 40px;
	
    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    border: 2px solid #9d7148;
    opacity: 1;
    border-radius: 55%;
    color:#9d7148;
}
