@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

.index {
	width:calc(100% - 26px);
	margin:0 auto;
}
	.index__photos_full {
		
	}

		.index__full-table {
			width: 100%;
			margin: 16px 0px 40px 0px;

		}

			.index__main-photo-cell {
				width: 60%;
			}

				.index__main-photo-cell img {
					width: 100%;
					height: 32vw;
				}

			.index__little-photo-cell_full  {
				width: 40%;
			}

				.index__little-photo-cell_full img {
					width: 100%;
					height: 15vw;
					margin: 0px 0px 0px 5px;
				}
	
	.index__headline {
		background-color: #fff;
		margin: 0 auto;
		margin-top: -23px;
		text-align: center;
		margin-bottom: 25px;
		font-size: 26px;
		font-family: "GothamPro";
		text-transform: uppercase;
		color:#010000;
	}

	.index__lifestyle {
		
	}

		.index__main-lifestyle-headline {
			width: 300px;
		}

		.index__main-brandes-headline {
			width: 150px;
		}
		.index__main-instagram-headline {
			width: 200px;
		}

	hr {
		border: none;
	    height: 1px;
	    color:#e0cdbb;
	    background-color: #e0cdbb;
	}

	

	.index__lifestyle {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: right;
		margin:0px 0px 40px 0px;
	}
		.index__lifestyle-element {
			width: 23%;
		}

			.index__lifestyle-photo {
				width: 100%;
				height: 148px;
			}
			.index__lifestyle-headline {
				color:#b6814f;
				font-size: 18px;
				font-family: "GothamPro";
				margin:0px 0px 18px 0px;
				text-transform: uppercase;
			}
			.index__lifestyle-description {
				font-size: 15px;
				font-family: "GothamProLight";
			}

	.index__brandes {
		width: 100%;
		height: 134px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin:0px 0px 50px 0px;
	}

		.index__brandes > * {
			display: flex;
			align-items: center;
			width: 10%;
		}
		.index__brandes img {
			width: 100%;

		}

	.index__instagram {
		width: 934px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

		.index__first-instagram-block {
			width: 48%;
			text-align: center;
		}

			.index__instagram-headline {
				font-size: 14px;
				font-family: "GothamProLight";
				margin: 20px 0px 30px 0px;
			}

			.index__image-block {
				width: 198px;
				height: 198px;
				border: 1px solid #d3d3d3;
				display: inline-block;
				margin:10px;
				vertical-align: top;
				overflow:hidden;
				position: relative;
				cursor: pointer;
			}

				.index__wrapper {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}

					.index__instagram-image {
						margin:0 auto;
					}

					.index__activity-bar {
						width: 100%;
						z-index:2;
						position: absolute;
						color:#fff;
						font-family: "GothamPro";
						font-size:14px;
						top: 45%;
						text-align: center;
						opacity: 0;
					}


		.index__image-block_opened {
			border-top: 41px solid #999999;
			border-bottom: 41px solid #999999;
			height: 118px;
			transition: all .35s;
		}

			.index__image-block_opened .index__activity-bar {
				opacity: 1;
				transition: all .35s;
			}

		.index__image-block_closed {
			transition: all .35s;
		}

