@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}

@font-face {
	font-family: 'GothamProLightItalic';
	src: url("../../assets/fonts/GothamPro-LightItalic.ttf");
}

.checkout {
	width: 75%;
	margin: 0 auto;
}
	.checkout__main-headline {
		font-family: "GothamProMedium";
		font-size: 30px;
		color:#000;
		margin: 32px 0px;
	}
	.checkout__wrapper {
		display: grid;
		grid-template-columns: 30% 65%;
		justify-content: space-between;
	}
		.checkout__field-block {
			margin:0px 0px 20px 0px;
		}
			.checkout__box-label {
				font-family: "GothamProLight";
				font-size: 15px;
				color:#000;
				display: block;
				margin:0px 0px 10px 0px;
			}
			.checkout__field-sublock {
				width: calc(100% - 30px);
				height: 58px;
				border:1px solid #cccccc;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0px 15px;
			}
				.checkout__field-input {
					width: 200px;
				}
					.checkout__field-input::placeholder {
						color:#999999;
						font-family: "GothamPro";
						font-size: 16px;
					}

				.checkout__subtitle {
					font-family: "Arial";
					font-size: 13px;
					color:#cc7f7f;
				}


		.checkbox__radios-field-box {
			display: flex;
			justify-content: space-between;
		}
			.checkbox__radios-field-box > * {
				width: 49%;
				font-size: 14px;
				font-family: "GothamProLight";
				color:#000;
				display: flex;
				align-items: center;
			}
				.checkbox__radios-field-box > * input {
					width: 16px;
					height: 16px;
					margin-right: 10px;
				}


		.checkbox__payment-field-box {
			margin-top: 20px;
		}
			.checkout__pay-way-headline {
				font-family: "GothamPro";
				font-size: 18px;
				color:#000;
			}
			.checkout__pay-way-block {
				
			}
				.checkout__pay-way-checkbox {
					display: inline-block;
					vertical-align: top;
					width: 16px;
				}
				.checkout__pay-text {
					display: inline-block;
					width: 90%;
				}
					.checkout__bank-card {
						font-family: "GothamProLight";
						font-size: 14px;
						display: block;
					}
					.checkout__pay-way-subtitle {
						font-family: "Arial";
						font-size: 13px;
						color:#999999;
						display: block;
					}

		.checkbox__button-field-box {

		}
			.checkout__submit {
				width: 100%;
				height: 60px;
				color:#fff;
				font-family: "GothamProLight";
				font-size: 16px;
				background-color: #000;
				border:none;
			}


		.checkbox__disclaimer-field-box {

		}
			.checkout__confirm-checkbox {
				display: inline-block;
				width: 8%;
				vertical-align: top;
			}
			.checkout__confirm-checkbox-text {
				display: inline-block;
				width: 90%;
				font-family: "GothamProLight";
				font-size: 14px;
			}





	.checkout__item-element {
		display: grid;
		grid-template-columns: 20% 80%;
	}
		.checkout__item-img-block {

		}
			.checkout__item-img {
				width: 85%;
			}

		.checkout__description-block {

		}
			.checkout__item-name {
				font-family: "GothamPro";
				font-size: 21px;
				color:#000;
				margin: 0px 0px 12px 0px;
				display: block;
			}
			.checkout__item-color {
				font-family: "GothamProLight";
				font-size: 14px;
				color:#000;
				margin: 0px 0px 10px 0px;
				display: block;
			}
			.checkout__item-size {
				font-family: "GothamProLight";
				font-size: 14px;
				color:#000;
				margin: 0px 0px 10px 0px;
				display: block;
			}

			.checkout__item-q-and-c {
				display: block;
				width: 100%;
				margin-bottom: 40px;

			}
				.checkout__item-cost-block {
					display: inline-flex;
					width: 22%;
					align-items: center;
					justify-content: space-between;
					padding:0px 20px;
					font-family: "GothamPro";
					font-size: 16px;
					color:#000;
				}
					.checkout__item-cost {
						
					}


				.checkout__item-quantity-block {
					display: inline-flex;
					width: 22%;
					justify-content: space-between;
					align-items: center;
					padding: 0px 20px;
				}
					.checkout__item-quantity-field {
						height: 40px;
						border:1px solid #ccc;
						width: 70px;
						text-align: right;
					}
					.checkout__item-equal-sign {

					}

				.checkout__item-final-cost-block {
					display: inline-block;
					width: 30%;
					font-size: 16px;
					font-family: "GothamPro";
				}

