@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}


.how-to-buy {
	width: 934px;
	margin:40px auto;
}

	.how-to-buy__main-headline {
		font-size: 30px;
		font-family: "GothamProMedium";
		text-transform: uppercase;
	}
	.how-to-buy__secondary-headline {
		font-size: 22px;
		font-family: "GothamProBold";
		text-transform: uppercase;

	}
	.how-to-buy__tertiary-headline {
		display: inline-block;
		font-size: 20px;
		font-family: "GothamProMedium";
		border-bottom:1px dotted #aaaaaa;
		padding-bottom: 3px;
		margin:0px 0px 0px 14px;
		color:#333333;
	}	
	.how-to-buy__quaternary-headline {
		font-family: "GothamProMedium";
		font-size: 20px;
		color:#333333;
	}

	.how-to-buy__paragraph {
		font-size: 15px;
		font-family: "GothamProLight";
		line-height: 20px;
	}

	.how-to-buy__first-block {

	}
		.how-to-buy__number {
			display: inline-block;
			font-family: "GothamPro";
			font-size: 20px;
			width: 42px;
			height: 30px;
			background-color: #b6814f;
			color:#fff;
			text-align: center;
			padding-top:12px;
		}

		.how-to-buy__button-element {
			width: 138px;
			margin: 0 auto;
			text-align: center;
		}

			.how-to-buy__button {
				width: 134px;
				height: 43px;
				background-color: black;
				color:white;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
				font-family: "GothamProMedium";
			}
			.how-to-buy__signature {
				color:#777777;
				font-size: 12px;
				font-family: "Arial";
			}

	.how-to-buy__second-element {
		margin-bottom: 18px;
	}

	.how-to-buy__block {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
		.how-to-buy__text-block {
			vertical-align: top;
		}

		.how-to-buy__text-block span {
			font-size: 15px;
			font-family: "GothamProLight";
			color:#000;
			display: block;
			margin:0px 0px 15px 0px;
			width: 400px;
		}
	.how-to-buy__images {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.how-to-buy__card {
		box-shadow: 0 2px 5px;
		border-radius: 15px;
		margin-right: 15px;
	}

	.how-to-buy__card-block {
		width: 294px;
		height: 186px;
		text-align: center;
		box-shadow: 0 2px 5px;
		border-radius: 15px;
	}
			.how-to-buy__card-logo {
				display: block;
				width: 97px;
				margin: 0 auto;
				margin-top: 50px;
				margin-bottom: 25px;
			}
			.how-to-buy__card-signature {

				font-size: 12px;

			}
			.how-to-buy__card-block {
				margin:0;
			}

		.how-to-buy__text {
			width: 293px;
		}

			.how-to-buy__text p {
				margin:0;
				margin-bottom: 25px;
			}