@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}


.textpage {

}
	.textpage__left-bar {
		display: inline-block;
		width: 9%;
		height: 100%;
		vertical-align: top;
	}
		.textpage__link {
			margin:35px 0px 15px 0px;
			display: flex;
			text-decoration: none;
			align-items: center;

		}
			.textpage__arrow-pic {
				transform: rotate(180deg);
				display: inline-block;
				margin-left: 5px;
				
			}
			.textpage__list-item {
				color:#000;
				font-family: "Arial";
				font-size: 12px;
				color:#999999;
				margin-left: 5px;
			}

	.textpage__wrapper {
		display: inline-block;
		width: 85%;
	}
		.textpage__main-headline {
			white-space: pre;
			font-size: 30px;
			font-family: "GothamProMedium";
			margin-left: 20px;
		}
		.textpage__main-block {

		}
			.textpage__main-image {
				width: 100%;

			}
			.textpage__paragraph {
				font-family: "GothamProLight";
				font-size: 15px;
				line-height: 25px;
				text-align: justify;
			}

		.textpage__left-photo-block {
			
		}
			.textpage__secondary-headline {
				font-family: "GothamProBold";
				font-size: 22px;
			}
				.textpage__block-wrapper {
					display: grid;
					grid-template-columns: 48% 52%;
				}
					.textpage__text-block {
						margin:20px;
					}
					.textpage__img-block {
						text-align: center;
					}
						.textpage__image {
							width: 100%;
							display: block;
							margin:15px auto;
						}
						.textpage__signature {
							font-family: "Arial";
							font-size: 13px;
							color:#999999;
						}

		.textpage__numeric-list {

		}
			.textpage__num-list-headline {
				font-family: "GothamProMedium";
				font-size: 20px;
				color:#000;
			}
			.textpage__num-explained {
				font-family: "GothamProLight";
				font-size: 15px;
			}
			.textpage__num-list {
				font-family: "GothamProLight";
				font-size: 15px;
			}
				.textpage__num-list-item {

				}

		.textpage__unnumeric-list {

		}
			.textpage__unnum-list-headline {
				font-family: "GothamProMedium";
				font-size: 20px;
				color:#000;
			}
			.textpage__unnum-explained {
				font-family: "GothamProLight";
				font-size: 15px;
			}
			.textpage__unnum-list {
				font-family: "GothamProLight";
				font-size: 15px;
				list-style-type: none;
			}
				.textpage__unnum-list-item {

				}
				.textpage__unnum-list-item::before {
					content: "- ";
					font-size: 20px;
					color:#b6814f;
				}

		.textpage__table {

		}
			.textpage__table-headline {

			}
			.textpage__table thead {
				padding-bottom: 20px;
			}
				.textpage__table thead tr {
					font-size: 15px;
					font-family: "GothamProMedium";
				}
					.textpage__table thead tr td {
						padding-left: 10px;
					}
						.textpage__table thead tr td span {
							display: inline-block;
							margin-left: 10px;
							width: inherit;
						}

			.textpage__table tbody {
				font-size: 15px;
				font-family: "GothamProLight";
				color:#000;
			}
				.textpage__table tbody tr {
					
				}
					.textpage__table tbody tr:hover {
						background-color: #f4f4f4;
						height: 32px;
						transition: background-color .35s;
					}
					.textpage__table tbody tr td {
						height: 32px;
						padding-left: 0;
						padding-right: 0;
						cursor: default;
						border:none;
					}
						.textpage__table tbody tr td span {
							display: inline-block;
							margin-left:20px;
							width: inherit;
						}
			
			.textpage__quote {
				
			}
				.textpage__quote-headline {

				}
				.textpage__quote-block {
					width: 50%;
					padding: 25px;
					border-left: 4px solid #b6814f;
					background-color: #f4f4f4;
					display: inline-block;
				}
					.textpage__quote-text {
						font-size: 19px;
						font-family: "GothamProLight";
						color:#000;
						line-height: 30px;
						text-align: justify;
					}

				.textpage__quote-author {
					display: inline-block;
					font-size: 13px;
					font-family: "Arial";
					font-style: italic;
					color:#999999;
					margin-left: 35px;
					width: 160px;
				}