@font-face {
	font-family: 'GothamPro';
	src: url("../../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../../assets/fonts/GothamProBold.otf");
}

@font-face {
	font-family: 'GothamProMedium';
	src: url("../../assets/fonts/GothaProMed.otf");
}


.error {
	width:90%;
	margin-left: auto;
	margin-bottom: 80px;
}
	.error__headline_main {
		font-family: "GothamProMedium";
		font-size: 30px;
		color:#000;

	}
	.error__wrapper {
		display: grid;
		grid-template-columns: 35% 65%;
	}
		.error__inf-block {
			
		}
			.error__headline-block {
				width: 255px;
				margin: 45px auto;
			}
				.error__sorry-headline {
					font-family: "GothamPro";
					font-size: 84px;
					color:#c19b77;
					display: inline-block;
					margin:0;
				}

		.error__text-block {
			margin-bottom: 25px;
		}
			.error__text {
				font-family: "GothamProLight";
				font-size: 15px;
				color:#000;
			}

		.error__main-page-link-block {
			margin-bottom: 20px;
		}
			.error__main-page-link {
				width:100%;
				height: 60px;
				background-color: #000;
				color:#fff;
				font-family: "GothamProLight";
				font-size: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				border:1px solid black;
			}

		.error__write-to-us-block {
			margin-bottom: 20px;
		}
			.error__write-to-us {
				width:100%;
				height: 60px;
				background-color: #fff;
				color:#000;
				font-family: "GothamProLight";
				font-size: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				border:1px solid black;
			}

		.error__sorry {
			display: block;
			font-size: 13px;
			font-family: "Arial";
		}

	.error__boot-and-cat {
		position: relative;
	}
		.error__boot {
			position: absolute;
			left: 250px;
		}
		.error__cat {
			position: absolute;
			bottom: 0px;
			left: 50px;
		}